.camAngleDT {
  font-family: Arial;
  font-size: 20px;
  font-weigh: bold;
  fill: grey;
}
.eqpNameDT {
  font-family: Arial;
  font-size: 18px;
  text-anchor: middle;
  font-weigh: bold;
  fill: grey;
}
.TES__ActiveNumber {
  font-family: "Arial", "Liberation Sans", sans-serif;
  font-size: 48px;
  text-anchor: middle;
  fill-opacity: 1.0;
  fill: #000000;
}
.ECT_TTVF_ActiveText {
  font-family: "Arial", "Liberation Sans", sans-serif;
  font-size: 39px;
  text-anchor: middle;
  fill-opacity: 1.0;
  fill: #000000;
}
