<!DOCTYPE html>
<html>
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- for debugging try ignore cache -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <script src="js/jquery-1.11.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
  
  </head>
  
  <body style="background-color: #CCCCCC;">
    <div class="section">
      <div class="container" id="scscomponentView" ng-app="scscomponentTest" ng-controller="scscomponentTestCtrl">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Component Test</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <div class="col-sm-2">
                          <label for="entityID" class="control-label">EntityID:</label>
                        </div>
                        <div class="col-sm-8">
                          <input class="form-control" ng-model="component.entityID" id="entityID">
                        </div>
                        <div class="col-sm-2">
                          <button type="button" ng-click="callReset()" class="btn btn-default">Reset</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="request_panel" class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Build Request</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="component" class="control-label">Component:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" ng-model="component.componentName" id="component">
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="request" class="control-label">Request:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" ng-model="component.request" id="request">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="areaid" class="control-label">AreaID:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" ng-model="component.areaID" id="areaid">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="parameters" class="control-label">Parameters:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <textarea id="parameters" ng-model="component.parameters" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" ng-click="callRequest()" class="btn btn-primary">RUN</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="response_panel" class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Request Result</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="response" ng-model="component.response" class="control-label">response:</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <textarea id="response" ng-readonly="1" class="form-control"> {{component.response}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="errorcode" class="control-label">Error Code:</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input class="form-control" ng-readonly="1" ng-model="component.errorCode" id="errorcode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="errormsg" class="control-label">Error Message:</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input class="form-control" ng-readonly="1" ng-model="component.errorMessage" id="errormsg">
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        {{component}}
      </div>
    </div>
    
    
    <script>

     
        var myScsPresCB = null;

        function ScsInitFunction(cb) {
          console.log("ScsInitFunction called");
          myScsPresCB = cb;
          var scope = angular.element($("#scscomponentView")).scope();
          return ScsResult
        }

        function ScsResult(key, value, err, errMessage) {
          console.log("ScsResult called: " + key + " err: " + err + " " + value + " errMessage:" + errMessage);
          
          var scope = angular.element($("#scscomponentView")).scope();
          scope.$apply(function() {
                scope.component.errorCode = err
                if (err == 0) {
                  console.log('JSON response success: ' + value);
                  var resp = angular.fromJson(value);
                  scope.component.response = resp;
                  scope.component.errorMessage = '';
                  $("#response_panel").removeClass("has-error").addClass("has-success");
                  $("#response_panel").removeClass("bg-danger").addClass("bg-success");
                  $("#response_panel").removeClass("panel-danger").addClass("panel-success");
                } else {
                  console.log('JSON response error: ' + value);
                  try {
                    var resp = angular.fromJson(value);
                    
                    scope.component.response = resp;
                    scope.component.errorMessage = errMessage;
                    
                  } catch(exc) {
                    scope.component.errorMessage = exc;
                    scope.component.response = value;
                  }
                  
                  $("#response_panel").removeClass("has-success").addClass("has-error");
                  $("#response_panel").removeClass("bg-success").addClass("bg-danger");
                  $("#response_panel").removeClass("panel-success").addClass("panel-danger");
                }
          });
            
        }

        var app = angular.module('scscomponentTest', []);
        app.controller('scscomponentTestCtrl', function($scope) {
        
            $scope.component = {entityID: 'B001', componentName:'MyComponent', request: 'aName', response: '', errorCode: 0, errorMessage:'', areaID:'building1', parameters:''};
            $scope.callRequest = function() {
                if (myScsPresCB) {
                  var jsrequest = '{"component":"' + $scope.component.componentName + '", "request":"' + $scope.component.request + '"';
                  var p = $scope.component.parameters;
                  
                  if (p.length > 0) {
                    jsrequest = jsrequest + ', "parameters": {' +  p + '}';
                  } 
                  jsrequest = jsrequest + '}';
                  console.log('JSON request: ' + jsrequest);
                  myScsPresCB("jskey", $scope.component.entityID, jsrequest);
                }
            };
            
            $scope.callReset = function() {
              $scope.component = {entityID: '', componentName:'', request: '', response: '', errorCode: 0, errorMessage:'', parameters:''};
              $("#response_panel").removeClass("has-error").addClass("has-success");
              $("#response_panel").removeClass("bg-danger").addClass("bg-success");
              $("#response_panel").removeClass("panel-danger").addClass("panel-success");
            };
 
        });
        
        app
    .constant('keyCodes', {
        esc: 27,
        space: 32,
        enter: 13,
        tab: 9,
        backspace: 8,
        shift: 16,
        ctrl: 17,
        alt: 18,
        capslock: 20,
        numlock: 144
    })
    .directive('keyBind', ['keyCodes', function (keyCodes) {
        function map(obj) {
            var mapped = {};
            for (var key in obj) {
                var action = obj[key];
                if (keyCodes.hasOwnProperty(key)) {
                    mapped[keyCodes[key]] = action;
                }
            }
            return mapped;
        }

        return function (scope, element, attrs) {
            var bindings = map(scope.$eval(attrs.keyBind));
            element.bind("keydown keypress", function (event) {
                if (bindings.hasOwnProperty(event.which)) {
                    scope.$apply(function() {
                         scope.$eval(bindings[event.which]);
                    });
                }
            });
        };
    }]);
    
    </script> 
    
  </body>

</html>