/* Operator Management - Remove Panel */
.operator-remove-page{
    cursor: default;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    height: calc(100% - /*text*/1rem*2 - /*padding*/1rem*2);
}

.operator-remove-list-panel{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    border: thin solid black;
    padding: 1rem;
    height: calc(100% - /*container padding*/1rem*2);
}

.operator-remove-list-table{
    text-align: left;
    height: calc(100% - /*container padding*/1rem*2);
}

.operator-remove-list-caption{
    border: thin solid black;
    background: darkgrey;
    padding: 0.5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    text-align: left;
}

.operator-remove-list-headers{
    display: none;
}

.operator-remove-list-items{
    border: thin solid black;
    height: calc(100% - /*caption padding*/0.5rem);
    overflow-y: auto;
}

.operator-remove-list-item-row{
    border-top: thin solid black;
    cursor: pointer;
}

.operator-remove-list-item-row.selected{
    background-color: black;
    color: white;
}

.operator-remove-list-item-cell:not(.operator-remove-list-item-name){
    display: none;
}

.operator-remove-list-item-cell{
    vertical-align: middle;
    padding: 0.5rem;
    font-size: 1rem;
}

.operator-remove-confirm-panel{
    border: thin solid black;
    margin-left: 1rem;
    padding: 1rem;
    flex: 1 1 auto;
    width: 10%;
}

.operator-remove-confirm-message{
    font-size: 2rem;
    white-space: nowrap;
}

.operator-remove-confirm-list-panel{
    display: flex;
    flex-flow: column wrap;
    height: calc(
        100% -
        /*confirm message*/2rem -
        (/*confirm button*/1rem*2 + 0.5rem*2 + 1rem)
    );
    overflow: auto;
}

.operator-remove-confirm-list-item{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.operator-remove-confirm-list-item::before{
    content: "• ";
}

.operator-remove-confim-buttons{
    text-align: right;
}

.operator-remove-confim-buttons > button:not(disabled){
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0rem 0rem 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.operator-remove-confim-buttons > button[disabled]{
    cursor: default;
}

.operator-remove-progress{
    text-align: right;
}

.operator-remove-progress-button{
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    padding: 0.5rem;
    cursor: default;
}

.operator-remove-progress-label,
.operator-remove-progress-current{
    display: inline;
}

.operator-remove-progress-label:after{
    content: ":";
    display: inline;
    padding-right: 1ch;
}