/* Operator Management - Add Panel */
.operator-add-page{
    cursor: default;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    height: calc(100% - /*text*/1rem*2 - /*padding*/1rem*2);
}

.operator-add-detail-panel{
    border: thin solid black;
    flex: 1 1 auto;
    width: 100%;
}
