/* Profile Management - Detail Panel */
.profile-detail-panel{
    cursor: default;
    user-select: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    height: calc(100% - /*padding*/1rem*2);
}

.profile-detail-name-input{
    font-size: 1.5rem;
    width: 100%;
}

.profile-detail-name{
    font-size: 1.5rem;
}

.profile-detail-table-cell{
    position: relative;
    display: inline-block;
    border-bottom: thin dotted black;
}

.tooltip-text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip-text-bottom,
.tooltip-text-top{
    left: 50%;
    margin-left: -60px;
}
.tooltip-text-bottom{
    top: 150%;
}
.tooltip-text-top{
    bottom: 150%;
}
.tooltip-text-right,
.tooltip-text-left{
    top: -5px;
}
.tooltip-text-right{
    left: 110%;
}
.tooltip-text-left{
    right: 110%;
}

.tooltip-text-bottom::after,
.tooltip-text-top::after,
.tooltip-text-right::after,
.tooltip-text-left::after{
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltip-text-bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent black transparent;
}

.tooltip-text-top::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
}

.tooltip-text-right::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent black transparent transparent;
}

.tooltip-text-left::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent black;
}

.profile-detail-table-cell:hover .tooltip-text{
    visibility: visible;
}

.profile-detail-table{
    border: thin solid black;
    text-align: left;
    flex-flow: 1 1 auto;
    /* workaround for Chrome 44, for newer browser, simply use height: 100%;*/
    height: calc(
        100vh -
        /*margin*/1rem*2 - /*text*/1rem*2 - /*margin2*/1rem*2 - /*padding*/1rem*2 -
        /*profile text*/1.5rem -
        /*button margin*/1rem - /*button padding*/0.5rem*2 - /*button text*/1rem
    );
    overflow: auto;
}

.profile-detail-table-header{
    display: flex;
    flex-flow: row nowrap;
}

.profile-detail-table-header-cell{
    background: darkgrey;
    font-weight: bold;
    cursor: default;
}

.profile-detail-table-items{
    display: flex;
    flex-flow: column nowrap;
}

.profile-detail-table-rows{
    display: flex;
    flex-flow: row nowrap;
}

.profile-detail-table-cell{
    border: thin solid black;
    width: 4rem;
    height: 1rem;
    font-size: 1rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    text-align: center;
    flex: 1 0 auto;
}

.profile-detail-table-action{
    cursor: pointer;
}

.profile-detail-table-action.selected{
    background-color: black;
    color: white;
}

.profile-detail-table-action.disabled{
    cursor: default;
}

.profile-detail-modify-panel{
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
}

.profile-detail-modify-masks{
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
}

.profile-detail-modify-mask{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0rem 0rem 0.5rem;
    display: flex;
    flex-flow: row nowrap;
}

.profile-detail-modify-mask-label{
    cursor: pointer;
}

.profile-detail-modify-mask-label.disabled{
    cursor: default;
    color: grey;
}

.profile-detail-modify-mask > input:not(disabled){
    cursor: pointer;
}

.profile-detail-modify-mask > input[disabled]{
    cursor: default;
}

.profile-detail-modify-actions{
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
}

.profile-detail-modify-actions button:not(disabled){
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0rem 0rem 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.profile-detail-modify-actions button[disabled]{
    cursor: default;
}

.profile-detail-modify-progress-button{
    cursor: default;
}

.profile-detail-modify-progress-label,
.profile-detail-modify-progress-current{
    display: inline;
}

.profile-detail-modify-progress-label:after{
    content: ":";
    display: inline;
    padding-right: 1ch;
}

.profile-detail-modify-progress-current:after{
    content: "%";
    display: inline;
}
