* {
	font-family: Arial, "Liberation Sans", sans-serif;
}

nav a:visited, a:link {
	color: #607d8b
}

nav a:hover {
	color: #039be5;
	background-color: #CFD8DC;
}

nav a.active {
	color: #039be5;
}