# Configuration file for automatic alarm acknowledge
# parameter description (seperated with '@').
# 1 : Point environment
# 2 : Point address
# 3 : reference point value (integer, auto ack is on when the current value greater then this value)
# 4 : auto suppress environment list (seperated with ',')
# 5 : alarm filter
# 6 : action 1 - none, hide, show, ack, remove, shelve, unshelve, empty field means none,
#                executed if alarm's serverity is strictly less then the point value
# 7 : action 2 - none, hide, show, ack, remove, shelve, unshelve, empty field means none
#                executed if alarm's serverity is equals or larger then the point value
#
# format overview:
#
# <pt env>@<pt addr>@<ref pt value>@<suppress env list>@<alarm filter>@<action1>[@<action2>]
#
# things inside [] is optional, default action pair is none
# 
#
# any alarm match the criteria of alarm filter will be stopped from processed by other later defined rules
#

# example rules
# Hide
SRV1@:Scadagen:AVAS0008:avasuppression.suppressionlevel@0@SRV1@((FunctionalCategory == 1) AND (GeographicalCategory == 0))@remove
SRV1@:Scadagen:AVAS0008:avasuppression.suppressionlevel@0@SRV1@((FunctionalCategory == 1) AND (GeographicalCategory == 0) AND (Hidden == 0))@hide
# EOF KEEP THIS LINE