@import url('project-panel-inspector.css');
@import url('project-panel-inspector-header.css');
@import url('project-panel-inspector-info.css');
@import url('project-panel-inspector-tag.css');
@import url('project-panel-inspector-control.css');
@import url('project-panel-inspector-advance.css');