.project-inspector-info-panel-root 
{
	background-color: #BEBEBE;
	font-size: 16px;
}

.project-inspector-info-panel-base
{
	background-color: #BEBEBE;
	width: 100%;
	height: 100%;
}

.project-inspector-info-panel-vpCtrls
{
	width: 100%;
}

/* point status value */
.gwt-InlineLabel.project-inspector-info-inlinelabel-label
{
	width: 450px;
	font-size: 16px;
	color: black;
}

.gwt-TextBox.project-inspector-info-textbox-value 
{
	width: 200px;
	font-size: 16px;
	color: black;
	background-color: white;
}

.project-inspector-info-flextable
{
	width: 100%
}

/* point status column */
.project-inspector-info-flextable-inspectorlabel-col
, .project-inspector-info-flextable-inspectorvalue-col 
{
	width: 150px;
}

.project-inspector-info-flextable-inspectorstatus-col 
{
	width: 15px;
}

.project-inspector-info-inlinelabel-label-parent 
{
	width:100%;
	padding: 2px;
	vertical-align: middle;
}

.project-inspector-info-textbox-value-parent
{
	width: 95%;
	padding: 2px;
	vertical-align: middle;
}

.project-inspector-info-textbox-color-parent
{
	padding: 2px;
	vertical-align: middle;
}

/* indicator blocks */
.project-inspector-info-inlinelabel-status-green
, .project-inspector-info-inlinelabel-status-red
, .project-inspector-info-inlinelabel-status-blue
, .project-inspector-info-inlinelabel-status-grey 
{
	color: rgba(0,0,0,0);
	background-image: none;
	font-size: 16px;
}

.project-inspector-info-inlinelabel-status-green
{
	background-color:green;
}

.project-inspector-info-inlinelabel-status-red
{
	background-color:red;
}

.project-inspector-info-inlinelabel-status-blue
{
	background-color:blue;
}

.project-inspector-info-inlinelabel-status-grey
{
	background-color:grey;
}

.project-inspector-info-panel-pageBar 
{
}

.project-inspector-info-panel-bottomBar 
{
	width: 100%
}

/* pager styles */
.gwt-Button.project-inspector-info-button-up
, .gwt-Button.project-inspector-info-button-down 
{
	width: 50px;
	font-size: 20px;
	height: 40px;
	margin: 5px;
}

.gwt-InlineLabel.project-inspector-info-label-pagenum 
{
	width: 50px;
	padding: 10px;
	font-size: 22px;
}

/* ack. page button */
.gwt-Button.project-inspector-info-button-ackpage 
{
	margin: 5px;
	height: 40px;
	width: 105px;
	font-size: 19px;
	font-weight: bold;
}
