CLASS = 1
ACTIVE = TRUE
VALUE_AUTOMATON = ExtAlmAckValueAutomatonLog
ACK_AUTOMATON = AckResetLog
STATE_E = A
STATE_N = N
SEVERITY_E = 3
SEVERITY_N = 1
OBJECT_NAME =
FUNCTIONAL_CAT =
GEOGRAPHICAL_CAT =
EQUIPMENT_CLASS =
GROUP_1 = 0
GROUP_2 = 0
#MESSAGE_E = Ejecución del mando HILC abortada
MESSAGE_E = &SigHILC::CtlEndWithError
MESSAGE_N = &SigHILC::CtlEnd
DSS_EVENT_TYPE =
THEME = 6
