.div-card-edit-root {
    text-align: left;
    display: flex; 
    flex-direction: column;
}

.div-card-edit-top {

}

.lbl-card-edit {
    width: 90px;
}

.btn-card-edit-new
, .btn-card-edit-modify
, .btn-card-edit-delete
, .btn-card-edit-copy {
    width: 75px;
    margin: 5px 2px 5px 2px;
}

.div-card-edit-new-card
, .div-card-edit-modify-card {
    text-align: center;
    margin: 15px 15px 15px 15px;
}

.btn-card-edit-newadd
, .btn-card-edit-newaddcancel
, .btn-card-edit-save
, .btn-card-edit-cancel {
    width: 75px;
    margin: 2px 1px 2px 1px;
}