.div-trainer-admin-root {
    text-align: center;
    display: flex;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.div-trainer-admin-left {
    width: 35%;
    height: 100%;
    margin: 5px 5px 5px 5px;
}

.div-trainer-admin-left-top {
    height: 60%;
}

.div-trainer-admin-left-bottom {
    height: 40%;
    text-align: left; 
    display: flex; 
    flex-direction: column;
}

.div-trainer-admin-right {
    width: 65%;
    height: 100%;
    margin: 5px 5px 5px 5px;
}

.div-trainer-admin-right-top {
    height: 70%;
}

.div-trainer-admin-right-bottom {
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div-trainer-admin-right-bottom-left {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.div-trainer-admin-right-bottom-left-middle {
    margin: 0px 5px 0px 15px;
}

.div-trainer-admin-right-bottom-right {
    display: flex;
    flex-direction: row;
    text-align: left;
}
