<div class="div-trainer-root">
  <div class="div-trainer-left">
    <div class="div-trainer-left-top">
      <app-cards (notifyParent)="getNotification($event)" [notifyFromParent]="notifyCards" ></app-cards>
    </div>
    <div class="div-trainer-left-bottom">
      <app-card-controller (notifyParent)="getNotification($event)" [notifyFromParent]="notifyCardController"></app-card-controller>
    </div>
  </div>
  <div class="div-trainer-right">
    <div class="div-trainer-right-top">
      <app-steps (notifyParent)="getNotification($event)" [notifyFromParent]="notifySteps"></app-steps>
    </div>
    <div class="div-trainer-right-bottom">
      <app-step-controller (notifyParent)="getNotification($event)" [notifyFromParent]="notifyStepController"></app-step-controller>
    </div>
  </div>
</div>