<div style="text-align:center">
  <div style="display:inline">
    <div>
        <div>
            <app-cards (notifyParent)="getNotification($event)" [cardUpdate]="cardUpdateValue" ></app-cards>
            <app-card-controller (notifyParent)="getNotification($event)"></app-card-controller>
        </div>
      </div>
      <div>
        <div>
            <app-steps (notifyParent)="getNotification($event)"></app-steps>
            <app-step-controller (notifyParent)="getNotification($event)"></app-step-controller>
        </div>
      </div>
  </div>
</div>