.mwt-sv-container {
    background-color: #1B1B1F;
}

.L5_33KV .mwt-sv-container {
    background-color: #000000;
}

.factory .mwt-sv-container {
    background-color: #1B1B1F;
}

.Site1 .mwt-sv-container {
    background-color: #1B1B1F;
}

.usq .mwt-sv-container {
    background-color: #567E9C;
}

.STG_PCD .mwt-sv-container {
    background-color: #ADB3B9;
}

