.project-UIWidgetOPMChangePassword-label-firstlabel {
	
}

.project-UIWidgetOPMChangePassword-label-oldpasslabel {
	
}

.project-UIWidgetOPMChangePassword-textbox-oldpassvalue {
	
}

.project-UIWidgetOPMChangePassword-label-newpasslabel {
	
}

.project-UIWidgetOPMChangePassword-textbox-newpassvalue {
	
}

.project-UIWidgetOPMChangePassword-label-newpasslabel2 {
	
}

.project-UIWidgetOPMChangePassword-textbox-newpassvalue2 {
	
}

.project-UIWidgetOPMChangePassword-button-changepassword {
	color: white;
	margin: 8px 4px;
	height: 32px;
}