.project-UIWidgetSimultaneousLoginCover-label-container {
	width: 100vw;
	height: 100vh;
	background-color: #BEBEBE;
}
.project-UIWidgetSimultaneousLoginCover-label {
	width: 100vw;
	height: 100vh;
	text-align: center;
	margin-top: calc(50vh - 2rem / 2);
	font-size: 2rem;
}