.div-card-controller-left {

}

.div-card-controller-right {

}

.lbl-step-controller-execution {
    width: 90px;
}

.btn-step-contoller-startstep
, .btn-step-contoller-stopstep {
    width: 80px;
    margin: 5px 2px 5px 2px;
}