<div>
  <form>
    <div class="container">
      <fieldset class="">
        <legend class="">{{ '&tms_cards_title' | translate }}</legend>
        <div>

          <div>
            <ngx-datatable #cardsDataTable
              class="bootstrap"
              [rows]="rows_card"
              [loadingIndicator]="loadingIndicator"
              [columns]="columns_card"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [reorderable]="reorderable"

              [messages]="messages"
              
              [selected]="selected_card"
              [selectionType]="'single'"
              (select)="onRowSelect('card', $event)"
              (activate)="onActivate('card', $event)"
              >
              <ngx-datatable-column prop="name" name="Name" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()">{{ '&tms_cards_gd_header_name' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <strong>{{ value }}</strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="state" name="State" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()">{{ '&tms_cards_gd_header_state' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <strong>{{ value | translate }}</strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template 
                  ngx-datatable-footer-template 
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset">
                  <div class="page-count">
                    <div>{{selectedCount}}{{ '&tms_cards_dg_footer_selectedmessage' | translate }}{{ '&tms_cards_dg_footer_spliter' | translate }}{{rowCount}}{{ '&tms_cards_dg_footer_totalmessage' | translate }}</div>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>