/* Chrome, Safari, Opera */
@-webkit-keyframes blinkingExample {
    from {background-color: red;}
    to {background-color: white;}
}

/* Standard syntax */
@keyframes blinkingExample {
    from {background-color: red;}
    to {background-color: white;}
}

.alarm_ack_No{
	font-weight:bold;
	font-style:normal!important;
    animation: blinkhide 2s linear infinite;
	
    -webkit-animation-name: blinkingExample; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: blinkingExample;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.alarm_ack_Yes{
	font-weight:normal;
	font-style:italic!important;
}

.alarm_LOW {
    color: #111111!important;
	background-color : #4caf50!important;
}

.alarm_MEDIUM {
    background-color : #FFEB3B!important;
    color: #111111!important;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;
}

.alarm_HIGH {
color: #111111!important;
	background-color : #FF9800!important;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;
}

.alarm_CRITICAL{
color: #111111!important;
	background-color : #F44336!important;
    border-bottom-width: 1px;
}

.alarm_ack_PNA{
	font-weight:bold;
	font-style:normal!important;

    -webkit-animation-name: blinkingExample; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: blinkingExample;
    animation-duration: 1s;
    animation-iteration-count: infinite;
     
}
.alarm_ack_NPNA{
	font-weight:bold;
	font-style:normal!important;
	
    -webkit-animation-name: blinkingExample; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: blinkingExample;
    animation-duration: 1s;
    animation-iteration-count: infinite;
     
}
.alarm_ack_NPA{
	font-weight:normal;
	font-style:italic!important;
    
}
.alarm_ack_PA{
	font-weight:normal;
	font-style:italic!important;
    
}


.scs-almseverity-none {
	border-right: 10px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.scs-almseverity-0 {
    border-right: 10px solid #4caf50;
    border-left: 1px solid #4caf50;
    border-top: 1px solid #4caf50;
    border-bottom: 1px solid #4caf50;
    
}

.scs-almseverity-invalid {
    border-right: 10px solid #c51162;
    border-left: 1px solid #c51162;
    border-top: 1px solid #c51162;
    border-bottom: 1px solid #c51162;
}

.scs-almseverity-offline {
    border-right: 10px solid #90a4ae !important;
    border-left: 1px solid #90a4ae !important;
    border-top: 1px solid #90a4ae !important;
    border-bottom: 1px solid #90a4ae !important;
	color: #90a4ae !important;
    padding-right: 4px !important;
    font-style: italic !important;
}

.scs-almseverity-1 {
    border-right: 10px solid #4caf50;
    border-left: 1px solid #4caf50;
    border-top: 1px solid #4caf50;
    border-bottom: 1px solid #4caf50;
   
}
.scs-almseverity-2{
	border-right: 10px solid #FFEB3B;
    border-left: 1px solid #FFEB3B;
    border-top: 1px solid #FFEB3B;
    border-bottom: 1px solid #FFEB3B;
    
}
.scs-almseverity-3{
	border-right: 10px solid #FF9800;
    border-left: 1px solid #FF9800;
    border-top: 1px solid #FF9800;
    border-bottom: 1px solid #FF9800;
    
}
.scs-almseverity-4{
    border-right: 10px solid #FF9800;
    border-left: 1px solid #FF9800;
    border-top: 1px solid #FF9800;
    border-bottom: 1px solid #FF9800;
   
}

.gdg_invalid{
	color : #90a4ae!important;
    font-style:italic!important;
}

.gdg_normal{
	color : white!important;
}

.scsmx_counter_CRITICAL_NotAck {
fill : #F44336!important;
stroke: cyan;
 -webkit-animation: blinkhide 2s linear infinite;
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_HIGH_NotAck {
fill : #FF9800!important;
stroke: cyan;
-webkit-animation: blinkhide 2s linear infinite;
    
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_MEDIUM_NotAck {
fill : #FFEB3B!important;
stroke: cyan;
 -webkit-animation: blinkhide 2s linear infinite;
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_LOW_NotAck {
fill : #4caf50!important;
stroke: cyan;
   -webkit-animation: blinkhide 2s linear infinite;
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_priority_CRITICAL {
fill : #F44336!important;
}

.scsmx_counter_priority_HIGH {
fill : #FF9800!important;
}

.scsmx_counter_priority_MEDIUM {
fill : #FFEB3B!important;
}

.scsmx_counter_priority_LOW {
fill : #4caf50!important;
}


@-webkit-keyframes blink {
    0% { background-color: red; }
    70% { background-color: red; }
    70.1% { background-color: white; }
    100% { background-color: white; }
}

@-moz-keyframes blink {
     0% { background-color: red; }
    70% { background-color: red; }
    70.1% { background-color: white; }
    100% { background-color: white; }
}

@keyframes blink {
     0% { color: red; }
    80% { color: red; }
    80.1% { color: white; }
    100% { color: white; }
}

@-webkit-keyframes blinkhide {
     0% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blinkhide {
     0% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}
