/* UIPanelMenu */
.project-gwt-panel-navigation-0 {
	background-color: dimgrey;
}
.project-gwt-panel-navigation-1 {
	background-color: dimgrey;
}
.project-gwt-panel-navigation-2 {
	background-color: dimgrey;
}
.project-gwt-panel-navigation-3  {
	background-color: dimgrey;
}

.project-gwt-button-navigation-0 {
	width: 142px;
	height: 30px;
	font-weight: bold;

    background: url("images/hborder.png") repeat-x 0px -27px;
	
	margin-bottom: 5px !important;
}
.project-gwt-button-navigation-0-selected {

	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
	
}

.project-gwt-button-navigation-1 {
	width: 142px;
	height: 30px;
	font-weight: bold;
	
	background: url("images/hborder.png") repeat-x 0px -27px;
	
	margin-right: 5px !important;
}
.project-gwt-button-navigation-1-selected {

	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
	
}
.project-gwt-button-navigation-2 {
	width: 142px;
	height: 30px;
	font-weight: bold;
	
	background: url("images/hborder.png") repeat-x 0px -27px;
	
	margin-bottom: 5px !important;
}
.project-gwt-button-navigation-2-selected {

	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
	
}
.project-gwt-button-navigation-3 {
	width: 142px;
	height: 30px;
	font-weight: bold;
	
	background: url("images/hborder.png") repeat-x 0px -27px;
	
	margin-bottom: 5px !important;
}
.project-gwt-button-navigation-3-selected {
	
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
	
}