/* UIPanelLogin */
.project-gwt-panel-login {
	background-image:url('/mywebapp/scsmain/imgs/background/ERL_system_map.png');
}
.project-gwt-panel-login-inner {
	background-color:#BEBEBE;
	border: 2px solid dimgrey;
}
.project-gwt-panel-login-outer {
	width: 100px;
	height: 100px;
}
.project-gwt-inlinelabel-login-operator {
	font-size: 16px;
}
.project-gwt-textbox-login-operator {
	font-size: 16px;
}
.project-gwt-inlinelabel-login-profile {
	font-size: 16px;
}
.project-gwt-listbox-login-profile {
	font-size: 16px;
}
.project-gwt-inlinelabel-login-password {
	font-size: 16px;
}
.project-gwt-textbox-login-password {
	font-size: 16px;
}

.project-gwt-button-login-login {
	width: 170px;
	height: 30px;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-login-changepassword {
	width: 170px;
	height: 30px;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-login-cancel {
	width: 170px;
	height: 30px;
	font-weight: bold;
	font-size: 16px !important;
}