.project-gwt-panel-inspector {
	background-color: #BEBEBE;
}

.project-gwt-inlinelabel-equipmentname {
	font-size: 100%;
}

.project-gwt-inlinelabel-equipmentalias {
	font-size: 100%;
}

.project-gwt-inlinelabel-headerlabel {
	font-size: 100%;
}

.project-gwt-textbox-headervalue {
	font-size: 100%;
}

.project-gwt-inlinelabel-pagenum {
	font-size: 100%;
}