.project-UIWidgetVerifyHILCControl-panel-inner {
	width: 100%;
	height: 100%;
}

.project-UIWidgetVerifyHILCControl-label-title {
}

.project-UIWidgetVerifyHILCControl-label-scsEnvId {
}

.project-UIWidgetVerifyHILCControl-textbox-scsEnvId {
}

.project-UIWidgetVerifyHILCControl-label-workstationName {
}

.project-UIWidgetVerifyHILCControl-textbox-workstationName {
}

.project-UIWidgetVerifyHILCControl-label-cmdType {
}

.project-UIWidgetVerifyHILCControl-textbox-cmdType {
}

.project-UIWidgetVerifyHILCControl-label-cmdValue {
}

.project-UIWidgetVerifyHILCControl-textbox-cmdValue {
}

.project-UIWidgetVerifyHILCControl-label-cmdValueDiv {
}

.project-UIWidgetVerifyHILCControl-textbox-cmdValueDiv {
}

.project-UIWidgetVerifyHILCControl-label-eqpAlias {
}

.project-UIWidgetVerifyHILCControl-textbox-eqpAlias {
}

.project-UIWidgetVerifyHILCControl-label-eqpType {
}

.project-UIWidgetVerifyHILCControl-textbox-eqpType {
}

.project-UIWidgetVerifyHILCControl-label-cmdName {
}

.project-UIWidgetVerifyHILCControl-textbox-cmdName {
}

.project-UIWidgetVerifyHILCControl-button-select {
}

.project-UIWidgetVerifyHILCControl-button-confirm {
}

.project-UIWidgetVerifyHILCControl-textbox-message {
	width: 600px;
	height: 40px;
}
