<div>
  <label>{{ '&tms_cards_controller_lbl_execute' | translate }}</label>
  <button type="button" class="btn btn-info tms-card-btn-start" 
    [disabled]="btnDisabledStart" (click)="btnClicked('start')"
    title="{{ '&tms_cards_controller_btn_start_title' | translate }}"
    >{{ '&tms_cards_controller_btn_start' | translate }}</button>
  <button type="button" class="btn btn-info tms-card-btn-pause" 
    [disabled]="btnDisabledPause" (click)="btnClicked('pause')"
    title="{{ '&tms_cards_controller_btn_pause_title' | translate }}"
    >{{ '&tms_cards_controller_btn_pause' | translate }}</button>
  <button type="button" class="btn btn-info tms-card-btn-resume" 
    [disabled]="btnDisabledResume" (click)="btnClicked('resume')"
    title="{{ '&tms_cards_controller_btn_resume_title' | translate }}"
    >{{ '&tms_cards_controller_btn_resume' | translate }}</button>
  <button type="button" class="btn btn-info tms-card-btn-stop" 
    [disabled]="btnDisabledStop" (click)="btnClicked('stop')"
    title="{{ '&tms_cards_controller_btn_stop_title' | translate }}"
    >{{ '&tms_cards_controller_btn_stop' | translate }}</button>
  <button type="button" 
    class="btn btn-info tms-card-btn-reset" 
    [disabled]="btnDisabledReset" (click)="btnClicked('reset')"
    title="{{ '&tms_cards_controller_btn_reset_title' | translate }}"
    >{{ '&tms_cards_controller_btn_reset' | translate }}</button>
</div>