*.keep
*.ori
*.orig
*.bak
*.old
.metadata/
.settings/
.classpath
genModel/
04_imp/xml/generated.zip
04_imp/xml/generated/
06_dep/conf/mc.generated.properties
06_dep/log/
*_bak
/.project
*/Thumbs.db