body {
    font-family: Arial, "Liberation Sans", sans-serif;
    margin: 1rem;
    width: calc(100vw - /*margin*/1rem*2);
    height: calc(100vh - /*margin*/1rem*2);
}

nav a:visited, a:link {
    color: #607d8b
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.active {
    color: #039be5;
}

.profile-management,
.operator-management {
    font-size: 1rem;
}
