/* Operator Management - Change Password Panel */
.operator-change-password-page{
    cursor: default;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    height: calc(100% - /*text*/1rem*2 - /*padding*/1rem*2);
}

.operator-change-password-list-panel{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    border: thin solid black;
    padding: 1rem;
    height: calc(100% - /*container padding*/1rem*2);
}

.operator-change-password-list-table{
    text-align: left;
    height: calc(100% - /*container padding*/1rem*2);
}

.operator-change-password-list-caption{
    border: thin solid black;
    background: darkgrey;
    padding: 0.5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    text-align: left;
}

.operator-change-password-list-headers{
    display: none;
}

.operator-change-password-list-items{
    border: thin solid black;
    height: calc(100% - /*caption padding*/0.5rem);
    overflow-y: auto;
}

.operator-change-password-list-item-row{
    border-top: thin solid black;
    cursor: pointer;
}

.operator-change-password-list-item-row.selected{
    background-color: black;
    color: white;
}

.operator-change-password-list-item-cell:not(.operator-change-password-list-item-name){
    display: none;
}

.operator-change-password-list-item-cell{
    vertical-align: middle;
    padding: 0.5rem;
    font-size: 1rem;
}

.operator-change-password-detail-panel{
    border: thin solid black;
    margin-left: 1rem;
    padding: 1rem;
    flex: 1 1 auto;
    width: 10%;
}
