/* Profile Management - Remove Panel */
.profile-remove-page{
    cursor: default;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    height: 60vh;
}

.profile-remove-list-panel{
    display: flex;
    flex-flow: column nowrap;
    border: thin solid black;
    margin: 1em;
    padding: 1em;
    height: 100%;
}

.profile-remove-list-label{
    border: thin solid black;
    background: darkgrey;
    padding: 0.1em;
    font-size: 1.5em;
    white-space: nowrap;
}

.profile-remove-list-table{
    text-align: left;
    height: 100%;
}

.profile-remove-list-table-header{
    border: thin solid black;
    background: darkgrey;
    font-size: 1.5em;
}

.profile-remove-list-table-header > div{
    display: none;
}

.profile-remove-list-items{
    border: thin solid black;
    height: calc(100% - 1.5em);
    overflow-y: auto;
}

.profile-remove-list-item{
    border-top: thin solid black;
}

.profile-remove-list-item > div{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.5em;
    font-size: 1em;
}

.profile-remove-list-item.selected{
    background-color: black;
    color: white;
}

.profile-remove-list-item > div:not(.profile-remove-list-item-name){
    display: none;
}

.profile-remove-confirm-panel{
    border: thin solid black;
    margin: 1em;
    padding: 1em;
    flex: 1 1 auto;
    width: 100%;
    height: 60vh;
}

.profile-remove-confirm-message{
    font-size: 2em;
}

.profile-remove-confirm-list-panel{
    height: calc(100% - 1em*2 - 2em - 1em*2 - 0.5em*2 - 1em);
    display: flex;
    flex-flow: column wrap;
    overflow: auto;
}

.profile-remove-confirm-list-item{
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.profile-remove-confirm-list-item::before{
    content: "•";
}

.profile-remove-confim-buttons{
    text-align: right;
}

.profile-remove-confim-buttons > button:not(disabled){
    font-size: 1em;
    font-weight: bold;
    margin: 1em;
    padding: 0.5em;
    cursor: pointer;
}

.profile-remove-confim-buttons > button[disabled]{
    cursor: default;
}

.profile-remove-progress{
    text-align: right;
}

.profile-remove-progress-button{
    font-size: 1em;
    font-weight: bold;
    margin: 1em;
    padding: 0.5em;
    cursor: default;
}

.profile-remove-progress-label,
.profile-remove-progress-current{
    display: inline;
}

.profile-remove-progress-label:after{
    content: ":";
    display: inline;
    padding-right: 1ch;
}