<div id="avalanche-cond-action-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="avalanche-cond-action-buttons">
        <button type="button" class="btn btn-primary btn-md">{{ "Enable" | translate }}</button>
        <button type="button" class="btn btn-primary btn-md">{{ "New" | translate }}</button>
        <button type="button" class="btn btn-primary btn-md">{{ "Remove" | translate }}</button>
        <button type="button" class="btn btn-primary btn-md">{{ "Modify" | translate }}</button>
      </div>
    </div>
  </div>
</div>
