.avalanche-box { 
    border: #e5e9ee 1px solid; 
    margin: 1.0em;
    padding: 1.0em;
}

.avalanche-box #avalanche-cond-title { 
    position: relative; 
    top : -1.5em;
    margin-left: 1em;
    display: inline;
    background: rgb(116, 116, 116);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.avalanche-box #avalanche-cond-content {
    background: white;
    /* margin-left:0.4em;
    margin-right:0.4em; */
}

.ngx-datatable .datatable-header {
    background: rgb(206, 201, 201);
}
/*
.ngx-datatable .datatable-header-cell {
    border-left: 1px solid rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);
}

.ngx-datatable .datatable-body-cell {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
     border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
*/
