.div-admin-root {
    text-align: center;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.div-admin-upper {
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    border: 1px solid rgba(229,229,229,229);
    padding: 10px;
}

.div-admin-upper-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-admin-upper-1-title {
    width: 50%;
}

.div-admin-upper-1-button {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.div-admin-lower {
    padding: 10px;
}

.div-admin-lower-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-admin-lower-1-title {
    width: 65%;
}

.div-admin-lower-1-button {
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.div-admin-lower-2 {
    padding: 10px;
}

.div-admin-lower-3 {
    padding: 10px;
}

.btn-admin-state-enable
, .btn-admin-state-disable
, .btn-admin-rename
, .btn-admin-refresh
, .btn-admin-deletestep
, .btn-admin-newstep {
    width: 75px;
    height: 35px;
    margin: 5px 2px 5px 2px;
}