<div class="div-admin-root">
  <div class="div-admin-upper">
    <app-step-edit (notifyParent)="getNotification($event)" [notifyFromParent]="notifyStepEdit"
      [updateStepEdit]="updateStepEdit" [enableStepEdit]="enableStepEdit"
      (onUpdatedStepEdit)="onUpdatedStepEdit($event)"></app-step-edit>
    <div class="div-admin-upper-1">
      <div class="div-admin-upper-1-title">
        <label>{{ '&cards_title' | translate }}</label>
      </div>
      <div class="div-admin-upper-1-button">
        <div>
          <button type="button"
            class="btn btn-info btn-admin-state-enable"
            [disabled]="!btnEnableStateEnable"
            (click)="btnClicked('enable')"
            title="{{ '&cards_state_btn_enable_title' | translate }}"
            >{{ '&cards_state_btn_enable' | translate }}</button>
          <button type="button"
            class="btn btn-info btn-admin-state-disable"
            [disabled]="!btnEnableStateDisable"
            (click)="btnClicked('disable')"
            title="{{ '&cards_state_btn_disable_title' | translate }}"
            >{{ '&cards_state_btn_disable' | translate }}</button>
          <button type="button"
            class="btn btn-info btn-admin-rename"
            [disabled]="!btnEnableRename"
            (click)="btnClicked('rename')"
            title="{{ '&cards_rename_btn_rename_title' | translate }}"
            >{{ '&cards_rename_btn_rename' | translate }}</button>
          <button type="button"
            class="btn btn-info btn-admin-refresh"
            [disabled]="!btnEnableRefresh"
            (click)="btnClicked('refresh')"
            title="{{ '&admin_btn_refresh_title' | translate }}"
            >{{ '&admin_btn_refresh' | translate }}</button>
        </div>
      </div>
    </div>
    <div>
      <app-rename (notifyParent)="getNotification($event)" [notifyFromParent]="notifyRename"
        [updateNames]="updateNames" [updateName]="updateName" [renameEnable]="renameEnable"
        (onUpdatedName)="onUpdatedName($event)"></app-rename>
      <app-card-summary (notifyParent)="getNotification($event)" [notifyFromParent]="notifyCardSummary"
        [updateCardEnv]="updateCardEnv" [renewCardSummary]="renewCardSummary"
        [updateCardSummary]="updateCardSummary" 
        [config]="cardSummaryCfg"     
        (onUpdatedAvarAlias)="onUpdatedAvarAlias($event)"
        (onUpdatedAvasAliasList)="onUpdatedAvasAliasList($event)"
        (onUpdatedCards)="onUpdatedCards($event)"
        (onUpdatedCardsSelect)="onUpdatedCardsSelect($event)"
        ></app-card-summary>
    </div>
  </div>
  <div class="div-admin-lower">
    <div class="div-admin-lower-1">
      <div class="div-admin-lower-1-title">
        <app-title (notifyParent)="getNotification($event)" [notifyFromParent]="notifySteps"
          [updateTitle]="updateTitle"></app-title>
      </div>
      <div class="div-admin-lower-1-button">
        <button type="button"
          class="btn btn-info btn-admin-deletestep"
          [disabled]="!btnEnableDeleteStep" (click)="btnClicked('deletestep', $event)"
          title="{{ '&steps_btn_delete_step_title' | translate }}"
          >{{ '&steps_btn_delete_step' | translate }}</button>
        <button type="button"
          class="btn btn-info btn-admin-newstep"
          [disabled]="!btnEnableNewStep" (click)="btnClicked('newstep', $event)"
          title="{{ '&steps_btn_new_step_title' | translate }}"
          >{{ '&steps_btn_new_step' | translate }}</button>
      </div>
    </div>
    <div class="div-admin-lower-2">
      <app-steps (notifyParent)="getNotification($event)" [notifyFromParent]="notifySteps"
        [updateSteps]="updateSteps" 
        (onUpdatedSteps)="onUpdatedSteps"
        (onUpdatedStepSelection)="onUpdatedStepSelection($event)"></app-steps>
    </div>
    <div class="div-admin-lower-3">
      <app-alarm-summary (notifyParent)="getNotification($event)" [notifyFromParent]="notifyAlarmSummary" 
        [updateAlarmEnv]="updateAlarmEnv" [updateAlarmUnivname]="updateAlarmUnivname"
        [config]="alarmSummaryCfg" [updateAlarmSummary]="updateAlarmSummary" (onUpdatedAlarmSummary)="onUpdatedAlarmSummary($event)"></app-alarm-summary>
    </div>
  </div>
</div>
