.project-UIWidgetDpcTagPrint-panel-inner {
    height: 100%;
	width: 100%;
}
.project-UIWidgetDpcTagPrint-container-0-2 {
    vertical-align: middle !important;
    width: 1%;
}
.project-UIWidgetDpcTagPrint-button-0-2 {
	width:115px;
	height:45px;
	font-weight: bold !important;
    font-size: 16px !important;
}
.project-UIWidgetDpcTagPrint-button-0-2-up {
	
}
.project-UIWidgetDpcTagPrint-button-0-2-down {

}
.project-UIWidgetDpcTagPrint-button-0-2-disable {
	
}