<div class="operator-password-panel">
    <div class="operator-password-name" *ngIf="operator">{{operator.name}}</div>
    <div class="operator-password-name" *ngIf="operatorId && !operator">{{'OPERATOR_MANAGEMENT.PASSWORD.RETRIEVING_OPERATOR_INDICATION_MSG' | translate}}</div>
    <div class="operator-password-name" *ngIf="!operatorId && !operator">{{'OPERATOR_MANAGEMENT.PASSWORD.NO_SELECTION_INDICATION_MSG' | translate}}</div>
    <div class="operator-password-old">
        <input
            class="operator-password-old-input"
            type="password" placeholder="{{'OPERATOR_MANAGEMENT.PASSWORD.OLD_PASSWORD' | translate}}"
            [(ngModel)]="oldPassword"
            [disabled]="!operator || updated"
        >
    </div>
    <div class="operator-password-new">
        <input
            class="operator-password-new-input"
            type="password" placeholder="{{'OPERATOR_MANAGEMENT.PASSWORD.NEW_PASSWORD' | translate}}"
            [(ngModel)]="newPassword"
            [disabled]="!operator || updated"
        >
    </div>
    <div class="operator-password-new-2nd">
        <input
            class="operator-password-new-2nd-input"
            type="password" placeholder="{{'OPERATOR_MANAGEMENT.PASSWORD.NEW_PASSWORD_2ND' | translate}}"
            [(ngModel)]="newPassword2nd"
            [disabled]="!operator || updated"
        >
    </div>
    <div class="operator-password-passwords-hints" *ngIf="!updated">
        <div class="operator-password-passwords-empty" *ngIf="!oldPassword || !newPassword">{{'OPERATOR_MANAGEMENT.PASSWORD.NEW_OPERATOR_PASSWORD_EMPTY' | translate}}</div>
        <div class="operator-password-passwords-mismatch" *ngIf="oldPassword && newPassword && (newPassword != newPassword2nd)">{{'OPERATOR_MANAGEMENT.PASSWORD.NEW_OPERATOR_PASSWORD_MISMATCH' | translate}}</div>
    </div>
    <div class="operator-password-passwords-hints" *ngIf="updated">
        <div class="operator-password-passwords-success" *ngIf="updateSuccess">{{'OPERATOR_MANAGEMENT.PASSWORD.NEW_OPERATOR_PASSWORD_UPDATED' | translate}}</div>
        <div class="operator-password-passwords-fail" *ngIf="!updateSuccess">{{'OPERATOR_MANAGEMENT.PASSWORD.NEW_OPERATOR_PASSWORD_FAILED' | translate}}</div>
    </div>
    <div class="operator-password-actions">
        <button
            *ngIf="!saving"
            class="operator-password-actions-create"
            (click)="onApply()"
            [disabled]="!(oldPassword && newPassword && (newPassword == newPassword2nd))"
        >
            {{'BUTTON.APPLY' | translate}}
        </button>
        <button
            *ngIf="!saving"
            class="operator-password-actions-reset"
            (click)="onReset()"
            [disabled]="!(oldPassword || newPassword || newPassword2nd || updated)"
        >
            {{'BUTTON.RESET' | translate}}
        </button>
        <button class="operator-password-actions-progress" *ngIf="saving">
            <div class="operator-password-actions-progress-label">{{'OPERATOR_MANAGEMENT.PASSWORD.SAVING_INDICATION_MSG' | translate}}</div>
            <div class="operator-password-actions-progress-current">{{operator.name}}</div>
        </button>
    </div>
</div>