<div class="operator-modify-page">
    <div class="operator-modify-list-panel">
        <div class="operator-modify-list-caption">{{'OPERATOR_MANAGEMENT.MODIFY.OPERATOR_LIST' | translate}}</div>
        <div class="operator-modify-list-table">
            <div class="operator-modify-list-headers">
                <div class="operator-modify-list-header-row">
                    <div class="operator-modify-list-header-cell operator-modify-list-header-id">{{'OPERATOR_MANAGEMENT.MODIFY.OPERATOR_ID' | translate}}</div>
                    <div class="operator-modify-list-header-cell operator-modify-list-header-name">{{'OPERATOR_MANAGEMENT.MODIFY.OPERATOR_NAME' | translate}}</div>
                    <div class="operator-modify-list-header-cell operator-modify-list-header-description">{{'OPERATOR_MANAGEMENT.MODIFY.OPERATOR_DESCRIPTION' | translate}}</div>
                </div>
            </div>
            <div class="operator-modify-list-items">
                <div
                    class="operator-modify-list-item-row"
                    *ngFor="let operator of operators"
                    [class.selected]="selectedOperator === operator"
                    (click)="onSelect(operator)"
                >
                    <div class="operator-modify-list-item-cell operator-modify-list-item-id">{{operator.id}}</div>
                    <div class="operator-modify-list-item-cell operator-modify-list-item-name">{{operator.name}}</div>
                    <div class="operator-modify-list-item-cell operator-modify-list-item-description">{{operator.description}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="operator-modify-detail-panel">
        <app-operator-management-detail
            [operatorId]="selectedOperator ? selectedOperator.id:undefined"
            [createOperator]="false"
            [readonly]="readonly"
        ></app-operator-management-detail>
    </div>
</div>
