<div>
  <div class="div-step-edit-new-step"
    [hidden]="!editEnableNewStep">
    <app-point-select
      [enable]="editEnableNewStep"
      [envArray]="envs"
      (notifyParent)="getNotification($event)"
      (notifyPointSelection)="getPointSelection($event)"
    >
    </app-point-select>
    <div class="div-step-edit-cancel"
      [hidden]="!editEnableCancelStep">
      <button
        type="button" class="btn btn-info btn-step-edit-add-cancel" 
        [disabled]="btnDisabledAddCancelStep" (click)="btnClicked('addcancelstep')"
        title="{{ '&step_btn_add_cancelstep_title' | translate }}"
        >{{ '&step_btn_add_cancelstep' | translate }}</button>
    </div>
  </div>
</div>