<div class="profile-detail-panel">
    <!-- profile name: start -->
    <div class="profile-detail-name" *ngIf="!createProfile && !!profile">{{profile.name}}</div>
    <div class="profile-detail-name" *ngIf="!createProfile && profileId && !profile">{{'PROFILE_MANAGEMENT.DETAIL.RETRIEVING_PROFILE_INDICATION_MSG' | translate}}</div>
    <div class="profile-detail-name" *ngIf="!createProfile && !profileId && !profile">{{'PROFILE_MANAGEMENT.DETAIL.NO_SELECTION_INDICATION_MSG' | translate}}</div>
    <div class="profile-detail-name" *ngIf="createProfile">
        <input
            class="profile-detail-name-input"
            type="text" placeholder="{{'PROFILE_MANAGEMENT.DETAIL.NEW_PROFILE_NAME_PLACEHOLDER' | translate}}"
            [(ngModel)]="profile.name"
        >
    </div>
    <!-- profile name: end -->

    <!-- modify panel: start -->
    <div class="profile-detail-table">
        <div class="profile-detail-table-header">
            <div class="profile-detail-table-first-column profile-detail-table-cell profile-detail-table-header-cell profile-detail-table-function-header-empty"></div>
            <div
                class="profile-detail-table-cell profile-detail-table-header-cell profile-detail-table-function-header"
                *ngFor="let function of functions">
                {{getFunctionName(function)}}
                <span class="tooltip-text tooltip-text-bottom" *ngIf="!!getFunctionTooltip(function)">
                    {{getFunctionTooltip(function)}}
                </span>
            </div>
        </div>
        <div class="profile-detail-table-items">
            <div class="profile-detail-table-rows" *ngFor="let location of locations; let row = index">
                <div
                    class="profile-detail-table-first-column profile-detail-table-cell profile-detail-table-header-cell profile-detail-table-location-header"
                >
                    {{getLocationName(location)}}
                    <span class="tooltip-text tooltip-text-right" *ngIf="!!getLocationTooltip(location)">
                        {{getLocationTooltip(location)}}
                    </span>
                </div>
                <div
                    class="profile-detail-table-cell profile-detail-table-action"
                    *ngFor="let function of functions; let column = index"
                    [class.selected]="!readonly && isSelectedCell(row, column)"
                    (click)="!readonly && onSelectCell(row, column, $event)"
                    [class.disabled]="readonly || (createProfile && !profile.name) || (!createProfile && !profile)"
                >
                    {{maskTable ? maskTable[row][column].mask1:''}}
                    <span class="tooltip-text tooltip-text-top">
                        {{getFunctionTooltip(function)}}, {{getLocationTooltip(location)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- modify panel: end -->

    <!-- modify panel: start -->
    <div class="profile-detail-modify-panel" *ngIf="!readonly">
        <div class="profile-detail-modify-masks" *ngIf="!!actions">
            <div class="profile-detail-modify-mask" *ngFor="let action of actions">
                <input
                    type="checkbox"
                    value={{action.id}}
                    [checked]="isActionSelected(1, action.abbrev)"
                    [disabled]="!isMasksSelected()"
                    (change)="toggleMask(action.abbrev)"
                    [indeterminate]="!isActionSelectedConsistent(1, action.abbrev)"
                >
                <div
                    class="profile-detail-modify-mask-label"
                    [class.disabled]="!isMasksSelected()"
                    (click)="toggleMask(action.abbrev)"
                >
                    {{action.abbrev}} - {{action.description}}
                </div>
            </div>
        </div>
        <div class="profile-detail-modify-actions">
            <div class="profile-detail-modify-action-buttons" *ngIf="masksToApplyTotal <= 0">
                <button
                    class="profile-detail-modify-action-create"
                    *ngIf="createProfile"
                    (click)="onCreate()"
                    [disabled]="!profile.name"
                >
                    {{'BUTTON.CREATE' | translate}}
                </button>
                <button
                    class="profile-detail-modify-action-apply"
                    *ngIf="!createProfile"
                    (click)="onApply()"
                    [disabled]="!updated"
                >
                    {{'BUTTON.APPLY' | translate}}
                </button>
                <button
                    class="profile-detail-modify-action-reset"
                    (click)="onReset()"
                    [disabled]="(createProfile && !profile.name) || (!createProfile && !updated)"
                >
                    {{'BUTTON.RESET' | translate}}
                </button>
            </div>
            <div class="profile-detail-modify-action-progress" *ngIf="masksToApplyTotal > 0">
                <button class="profile-detail-modify-progress-button">
                    <div class="profile-detail-modify-progress-label">{{'PROFILE_MANAGEMENT.DETAIL.SAVING_INDICATION_MSG' | translate}}</div>
                    <div class="profile-detail-modify-progress-current">
                        {{Math.floor(100 * masksToApplyIndex / masksToApplyTotal)}}
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- modify panel: end -->
</div>
