.project-gwt-simplepanel-controlview {
	height: 100%;
}

.project-gwt-verticalpanel-controlview {
	height: 100%;
}

.project-gwt-button-controlview-container-0-0 {
	vertical-align: middle !important;
}

.project-gwt-button-controlview-button-0-0 {
    width: 115px;
    height: 45px;
    font-weight: bold !important;
    font-size: 16px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.project-gwt-button-controlview-button-0-0-up {
	
}

.project-gwt-button-controlview-button-0-0-down {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}

.project-gwt-button-controlview-button-0-0-disable {

}

.project-gwt-button-controlview-container-0-1 {
	vertical-align: middle !important;
}

.project-gwt-button-controlview-button-0-1 {
	width:115px;
	height:45px;
	font-weight: bold !important;
    font-size: 16px !important;
}

.project-gwt-button-controlview-button-0-1-up {

}

.project-gwt-button-controlview-button-0-1-down {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}

.project-gwt-button-controlview-button-0-1-disable {

}

.project-gwt-button-controlview-container-0-2 {
	vertical-align: middle !important;
}

.project-gwt-button-controlview-button-0-2 {
	width:115px;
	height:45px;
	font-weight: bold !important;
    font-size: 16px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.project-gwt-button-controlview-button-0-2-up {
	
}

.project-gwt-button-controlview-button-0-2-down {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}

.project-gwt-button-controlview-button-0-2-disable {

}

