.project-UILayoutEventSummaryAction-root {
	width: 100%;
	height: 50px;
}
.project-UILayoutEventSummaryAction-empty-container {
	height: 100%;
	width: 1210px;
}
.project-UILayoutEventSummaryAction-filter-container {

}