<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config />

	<!-- Service Factory -->
	
	<bean id="servicesFactory"
		class="com.thalesgroup.hypervisor.mwt.core.webapp.core.data.server.rpc.implementation.ServicesImplFactory" />
		
   	<!-- MWT Singletons -->
   	
    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.infopanel.plugin.IInfoPanelPluginContainer" 
          class="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.infopanel.plugin.InfoPanelPluginContainer">
      <property name="listPlugins">
      <bean id="infoPanelPluginList" class="java.util.LinkedHashSet">
        <constructor-arg>
          <set>
            <bean class="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.infopanel.plugin.InfoPanelPluginAlarm" />
            <bean class="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.infopanel.plugin.InfoPanelPluginEqpt" />
          </set>
        </constructor-arg>
      </bean>
      </property>
    </bean>
      
	<bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.admin.server.rpc.IAdministrationService"
		class="com.thalesgroup.hypervisor.mwt.core.webapp.core.admin.server.rpc.AdministrationService">
	     <property name="pwdChange" ref="passChanger" />
	</bean>
   
	<bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.jmx.server.IJmxHmiManager"
		class="com.thalesgroup.hypervisor.mwt.core.webapp.core.jmx.server.JmxHmiManager" />
		
	<bean id="com.thalesgroup.hypervisor.mwt.core.util.common.benchmark.IBenchmarkServerManager"
		class="com.thalesgroup.hypervisor.mwt.core.webapp.core.common.server.benchmark.BenchmarkServerManager" />

    <bean id="com.thalesgroup.hypervisor.mwt.core.util.common.session.ISessionListContainer"
        class="com.thalesgroup.hypervisor.mwt.core.util.common.session.SessionListContainer"/>
		
    <bean id="com.thalesgroup.hypervisor.mwt.core.util.config.loader.IConfigLoader"
        class="com.thalesgroup.hypervisor.mwt.core.util.config.loader.ConfigLoader">
        
        <constructor-arg ref="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnector"/>
        
    </bean>

    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.histo.server.IHistorianService"
        class="com.thalesgroup.hypervisor.mwt.core.webapp.core.histo.server.HistorianService">
        
        <constructor-arg ref="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnector"/>
        
    </bean>
		
    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.config.server.svc.IConfigurationService"
        class="com.thalesgroup.hypervisor.mwt.core.webapp.core.config.server.svc.ConfigurationService"/>
        
    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.common.server.admin.IBootStrap"
        class="com.thalesgroup.hypervisor.mwt.core.webapp.core.common.server.admin.BootStrap"/>
        
    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.command.ICommandPanelLoader"
        class="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.command.CommandPanelLoader"/>
        
    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.infopanel.IInfoPanelLoader"
        class="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.infopanel.InfoPanelLoader"/>
        
    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.tree.IGenericTreeLoader"
        class="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.tree.GenericTreeLoader"/>
        
    <bean id="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.situation.conf.factory.ISituationViewConfFactory"
        class="com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.situation.conf.factory.SituationViewConfFactory"/>
        
    <bean id="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnector"
        class="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnectorImpl"/>
        
    <!-- In order to add a plugin provider, implement a class (com.mycorp.MyPluginProvider) which implements
         the com.thalesgroup.hypervisor.mwt.core.connector.plugin.PluginProvider interface. -->
    <!--
    <bean id="pluginProviderImpl" class="com.mycorp.MyPluginProvider"/>
    <bean id="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnector" class="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnectorImpl">
        <property name="pluginProvider" ref="pluginProviderImpl"/>
    </bean>
    -->
        
    <bean id="com.thalesgroup.hypervisor.mwt.core.connector.subscription.SubscriptionConnector"
        class="com.thalesgroup.hypervisor.mwt.core.connector.subscription.SubscriptionConnectorImpl">
        
        <constructor-arg ref="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnector"/>
        
    </bean>
    
    <bean id="com.thalesgroup.hypervisor.mwt.core.connector.operation.OperationConnector"
        class="com.thalesgroup.hypervisor.mwt.core.connector.operation.OperationConnectorImpl">
        
        <constructor-arg ref="com.thalesgroup.hypervisor.mwt.core.connector.MWTConnector"/>
        
    </bean>

</beans>