<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>SCADAsoft</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
  		/WEB-INF/applicationContext.xml
  		/WEB-INF/applicationContext-project.xml
  		/WEB-INF/applicationContext-security.xml
    </param-value>
  </context-param>
  
  <context-param>
	<param-name>project.dictionary.module</param-name>
	<param-value>/../../conf/project/resources/config/UIPanelGeneric</param-value>
  </context-param>
  
  <context-param>
	<param-name>project.dictionaries.module</param-name>
	<param-value>/../../conf/project/resources/config</param-value>
  </context-param>
  
  <context-param>
	<param-name>project.navigation.module</param-name>
	<param-value>/../../conf/project/resources/config/UIPanelNavigation</param-value>
  </context-param>
  
  <context-param>
	<param-name>project.navigation.module.mapping</param-name>
	<param-value>navigationMapping.xml</param-value>
  </context-param>  
  
  <context-param>
	<param-name>project.navigation.module.setting</param-name>
	<param-value>navigationSetting.xml</param-value>
  </context-param>
  
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>
  		org.springframework.web.filter.DelegatingFilterProxy
    </filter-class>
  </filter>

  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  

  <!-- Spring Listeners -->

  <listener>
    <listener-class>
  		org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>

    <listener>
    <listener-class>
      org.springframework.security.web.session.HttpSessionEventPublisher
    </listener-class>
  </listener>
  
  <!-- MWT Listeners -->
  
  <listener>
    <listener-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.common.server.rpc.session.SessionManager</listener-class>
  </listener>

  <listener>
    <listener-class>
  		com.thalesgroup.hypervisor.mwt.core.webapp.core.common.server.admin.InitServer
    </listener-class>
  </listener>
  <listener>
    <listener-class>
  		com.thalesgroup.hypervisor.mwt.core.webapp.core.WebAppContext
    </listener-class>
  </listener>

  <!-- Servlets -->

  <servlet>
    <servlet-name>downloadReportService</servlet-name>
    <servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.histo.reports.servlet.DownloadReportServlet</servlet-class>
  </servlet>
    
  <servlet>
	<servlet-name>UpdateServlet</servlet-name>
	<servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.data.server.rpc.UpdateServlet</servlet-class>
</servlet>

  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.config.server.rpc.ConfigServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>InitPageServlet</servlet-name>
	<servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.init.InitPage</servlet-class>
</servlet>

  <servlet>
	<servlet-name>remoteLoggerServiceImpl</servlet-name>
	<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
</servlet>

  <servlet>
    <servlet-name>PLCServlet</servlet-name>
    <servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.mvp.rpc.PresenterLifeCycleServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>OperatorAction</servlet-name>
    <servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.ui.server.mvp.rpc.OperatorActionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.login.server.rpc.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GwtOpenLayersProxyServlet</servlet-name>
    <servlet-class>org.gwtopenmaps.openlayers.server.GwtOpenLayersProxyServlet</servlet-class>
  </servlet>

    <servlet>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>com.thalesgroup.hypervisor.mwt.core.webapp.core.common.proxy.ProxyServlet</servlet-class>
  </servlet>
  <!-- Standard Action Servlet Mapping -->


  <servlet-mapping>
    <servlet-name>downloadReportService</servlet-name>
    <url-pattern>/scsmain/downloadReportService</url-pattern>
  </servlet-mapping>
    
  <!-- -->
  
  <servlet>
    <servlet-name>taskServiceServlet</servlet-name>
    <servlet-class>com.thalesgroup.scadagen.whmi.config.confignav.server.TaskServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>taskServiceServlet</servlet-name>
    <url-pattern>/scsmain/taskServiceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dictionaryServiceServlet</servlet-name>
    <servlet-class>com.thalesgroup.scadagen.whmi.config.configenv.server.DictionaryServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dictionaryServiceServlet</servlet-name>
    <url-pattern>/scsmain/dictionaryServiceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dictionariesServiceServlet</servlet-name>
    <servlet-class>com.thalesgroup.scadagen.whmi.config.configenv.server.DictionariesServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dictionariesServiceServlet</servlet-name>
    <url-pattern>/scsmain/dictionariesServiceServlet</url-pattern>
  </servlet-mapping>  
  <!-- -->

  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/scsmain/gwt-log</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/scsmain/UpdateServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/scsmain/ConfigServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>InitPageServlet</servlet-name>
    <url-pattern>/scslogin/initialize</url-pattern>
    <url-pattern>/scsmain/initialize</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PLCServlet</servlet-name>
    <url-pattern>/scsmain/PLCServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>OperatorAction</servlet-name>
    <url-pattern>/scsmain/OperatorAction</url-pattern>
  </servlet-mapping> 

  <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/scsmain/LoginServlet</url-pattern>
  </servlet-mapping>   
  
  <servlet-mapping>
    <servlet-name>GwtOpenLayersProxyServlet</servlet-name>
    <url-pattern>/scsmain/wfsProxy</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/scsmain/ProxyServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>initialize?page=/scsmain/ScsMain.html</welcome-file>
  </welcome-file-list>

</web-app>
