/* UIPanelAccessBar */
.project-gwt-button-split-h-selected {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}

.project-gwt-button-split-v-selected {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}

.project-gwt-panel-accessbar-button {
	padding-right: 5px !important;
}

.project-gwt-flextable-accessbar-button {
	
}

.project-gwt-button-accessbar-button-0-0 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-1 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-2 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-3 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-4 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-5 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-6 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-7 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}

.project-gwt-button-accessbar-button-0-8 {
	width: 45px;
	height: 45px;
	padding: 5px !important;
	font-weight: bold;
	font-size: 16px !important;
}