/* UIPanelLogin */
.project-gwt-panel-login-outer {
	background-image:url('/mywebapp/scsmain/resources/project/img/background/ERL_system_map.png');
}

.project-gwt-panel-login-inner {
	background-color:#BEBEBE;
	border: 2px solid dimgrey;
}

/* UIPanelLoginLogo.xml */
.project-gwt-simplepanel-login-logo {
	
}
.project-gwt-horizontalpanel-login-logo {
	
}
.project-gwt-image-login-logo-0-0 {
	
}

/* UIPanelLoginInfo.xml */
.project-gwt-simplepanel-login-button {
	margin-top: 40px !important;
}
.project-gwt-inlinelabel-login-info-0-0 {
	font-size: 16px;
	width: 150px;
}
.project-gwt-textbox-login-info-0-1 {
	font-size: 16px;
	width: 300px;
    color: black;
    background-color: white;
}
.project-gwt-inlinelabel-login-info-1-0 {
	font-size: 16px;
	width: 150px;
}
.project-gwt-listbox-login-info-1-1 {
	font-size: 16px;
	width: 300px;
    color: black !important;
    background-color: white !important;
}
.project-gwt-inlinelabel-login-info-2-0 {
	font-size: 16px;
	width: 150px;
}
.project-gwt-textbox-login-info-2-1 {
	font-size: 16px;
	width: 300px;
    color: black;
    background-color: white;
}

/* UIPanelLoginButton.xml */
.project-gwt-simplepanel-login-button {
	margin-top: 20px !important;
}
.project-gwt-horizontalpanel-login-button {
	
}
.project-gwt-button-login-button-0-0 {
	width: 170px;
	height: 30px;
	font-weight: bold;
	font-size: 16px !important;
	color: black;
	margin-left: 3px !important;
	margin-bottom: 3px !important;
}
.project-gwt-button-login-button-0-1 {
	width: 170px;
	height: 30px;
	font-weight: bold;
	font-size: 16px !important;
	color: black;
	margin-left: 5px !important;
	margin-bottom: 3px !important;
}
.project-gwt-button-login-button-0-2 {
	width: 170px;
	height: 30px;
	font-weight: bold;
	font-size: 16px !important;
	color: black;
	margin-left: 5px !important;
	margin-right: 3px !important;
	margin-bottom: 3px !important;
}