.project-UILayoutSocAction-root {
	width: 100%;
	height: 50px;
}
.project-UILayoutSocAction-container-delay {
	width: 100%;
	height: 50px;
}
.project-UILayoutSocAction-container-automanucontrol {

}
.project-UILayoutSocAction-container-startstopskipcontrol {

}