.project-UILayoutSocSummaryViewerPager1-root {
	margin-top: 3px;
	margin-bottom: 3px;
}

.project-UILayoutSocSummaryViewer1-root {
	width: 500px;
	height: 160px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.project-UIWidgetSocSummaryPager1-root {
	margin-top: 2px;
	margin-bottom: 2px;
}
