.project-UILayoutSocSummaryViewerPager2-root {
	width: 70%;
	height: 82%;
	margin-top: 3px;
	margin-bottom: 3px;
}

.project-UILayoutSocSummaryViewer2-root {
	width: 100%;
	height: 95%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.project-UIWidgetSocSummaryPager2-root {
	margin-top: 2px;
	margin-bottom: 2px;
}