.project-UIWidgetSocGrcPoint-container-grccursteplabel {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-label-grccurstep {
	color: black;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
}
.project-UIWidgetSocGrcPoint-container-grccurstepvalue {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-textbox-grccurstep {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}

.project-UIWidgetSocGrcPoint-container-grccurstatuslabel {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-label-grccurstatus {
	color: black;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
}
.project-UIWidgetSocGrcPoint-container-grccurstatusvalue {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-textbox-grccurstatus {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}



.project-UIWidgetSocGrcPoint-container-grcstepstatuslabel {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-label-grcstepstatus {
	color: black;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
}
.project-UIWidgetSocGrcPoint-container-grcstepstatusvalue {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-textbox-grcstepstatus {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}


.project-UIWidgetSocGrcPoint-container-grcmessagelabel {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-label-grcmessage {
	color: black;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
}
.project-UIWidgetSocGrcPoint-container-grcmessagevalue {
	vertical-align: middle !important;
}
.project-UIWidgetSocGrcPoint-textbox-grcmessage {
	font-size: 16px;
	height: 39px;
	width: 750px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}