@import url("project-standand.css");
@import url("project-list.css");
@import url("project-panel.css");
@import url("UIDialogMsg/import-folder.css");
@import url("UILayoutEntryPointDpcTagSummary/import-folder.css");
@import url("UILayoutEntryPointLoginSummary/import-folder.css");
@import url("UILayoutEntryPointHDVSummary/import-folder.css");
@import url("UILayoutEntryPointHDVSummaryStn/import-folder.css");
@import url("UILayoutEntryPointOpmChangePasswordSummary/import-folder.css");
@import url("UILayoutEntryPointOpmChangeTargetUserPasswordSummary/import-folder.css");
@import url("UILayoutEntryPointSocSummary/import-folder.css");
@import url("UILayoutEntryPointAlarmSummary/import-folder.css");
