.project-gwt-flexTable-inspector- {
	width: 100%;
}

.project-gwt-inlinelabel-inspector-connectionbox-scsenvid {
	
}

.project-gwt-textbox-inspector-connectionbox-scsenvid {
	
}

.project-gwt-inlinelabel-inspector-connectionbox-dbaddress {
	
}

.project-gwt-textbox-inspector-connectionbox-dbaddress {
	
}

.project-gwt-inlinelabel-inspector-connectionbox-timer {
	
}

.project-gwt-textbox-inspector-connectionbox-timer {
	
}

.project-gwt-button-inspector-connectionbox-refresh {
	
}


.project-gwt-button-inspector-connectionbox-up {
	width: 50px;
    padding: 10px;
    font-size: 22px !important;
}

.project-gwt-inlinelabel-inspector-connectionbox-pagenum {
	width: 50px;
    padding: 10px;
    font-size: 22px !important;
}

.project-gwt-button-inspector-connectionbox-down {
	width: 50px;
    padding: 10px;
    font-size: 22px !important;
}

.project-gwt-panel-inspector-connectionbox-horizionalPanel {
	width: 100px;
}

.project-gwt-panel-inspector-connectionbox-base {
	width: 100px;
}
