.project-gwt-panel-alarm-panel {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-alarm-panel-scsolslist {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-action-counter {
	width: 100%;
	height: 50px;
}

.project-gwt-panel-alarmsummary-filter {
	width: 100%;
	height: 100%;
	margin-right: 5px;
}

.project-gwt-button-alarmsummary-container-ack {
    vertical-align: middle !important;
    text-align: right;
    width: 1%;
}

.project-gwt-button-alarmsummary-ack {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-button-alarmsummary-ackpage {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-button-alarmsummary-container-print {
    vertical-align: middle !important;
    text-align: right;
    width: 1%;
}

.project-gwt-button-alarmsummary-print {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-panel-alarmsummary-upperbar {
	width:100%;
	height:100%;
}

.project-gwt-flextable-alarmsummary-filter {
	width: 100%;
}

.project-gwt-inlinelabel-alarmsummary-counter-label-container  {
	height: 100%;
}

.project-gwt-inlinelabel-alarmsummary-counter-label  {
	font-size: 16px !important;
	padding: 20px;
}

.project-gwt-inlinelabel-alarmsummary-counter-value-container  {
	height: 100%;
}

.project-gwt-inlinelabel-alarmsummary-counter-value  {
	font-weight: bold;
	font-size: 16px !important;
	text-align: center;
	padding: 20px;
}

.project-gwt-button-alarmsummary-button-0-2 {
	width:115px;
	height:45px;
	font-weight: bold !important;
    font-size: 16px !important;
}

.project-gwt-button-alarmsummary-button-0-2-up {
	
}

.project-gwt-button-alarmsummary-button-0-2-down {

}

.project-gwt-button-alarmsummary-button-0-2-disable {
	
}

.project-gwt-button-alarmsummary-container-0-3 {
    vertical-align: middle !important;
    text-align: right;
    width: 1%;
}

.project-gwt-button-alarmsummary-button-0-3 {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.project-gwt-button-alarmsummary-button-0-3-up {

}

.project-gwt-button-alarmsummary-button-0-3-down {
	color: white !important;
	background-color: red !important;
	background-image: none !important;
}

.project-gwt-button-alarmsummary-button-0-3-disable {
	
}