/* overridge GWT settings */
body, table td, select {
  font-family: "Arial", "Liberation Sans", sans-serif !important;
}

/* buttons */
.gwt-Button:hover {
	border: 1px inset #ccc;
	background-color: lightblue;
	background-image: none;
}

.gwt-Button:active {
	color: dimgrey;
}

.gwt-Button[disabled]:hover {
	background: url("../../../gwt/standard/images/hborder.png") repeat-x 0px -27px;
}

/* radio box */
input[type="radio"] {
    cursor: pointer;
}

/* labels */
.gwt-InlineLabel {
	cursor: default;
}

/* tab bar */
.gwt-TabBar .gwt-TabBarItem-selected {
	background: blue !important;
	color: white !important;
}

.gwt-TabBar .gwt-TabBarItem {
	padding: 6px 12px 6px 12px !important;
	font-size: 16px !important;
}

.gwt-TabPanelBottom {
	border-color: blue !important;
}

/* dialog */
.gwt-DialogBox .Caption {

	text-align: center;
	background-color: slategrey !important;
	background-image: none !important;
	font-size: 16px;
	color: white;
	border-top: 1px solid black !important;
	
	border-top: 4px solid black !important;
	border-left: 4px solid black !important;
	border-right: 4px solid black !important;
	border-bottom: none !important;
	
}

.gwt-DialogBox .dialogTopLeft {
	background: none !important;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: none !important;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: none !important;
}

.gwt-DialogBox .dialogTopRight {
	background: none !important;
}

.gwt-DialogBox .dialogMiddleCenter {
	border-top: none !important;
	border-left: 4px solid black !important;
	border-right: 4px solid black !important;
	border-bottom: 4px solid black !important;
}

.gwt-DialogBox .dialogMiddleRight {
	background: none !important;
}

.gwt-DialogBox .dialogBottomRight {
	background: none !important;
}

.gwt-DialogBox .dialogBottomCenter {
	background: none !important;
}

.gwt-DialogBox .dialogBottomLeft {
	background: none !important;
}

/* Override MWT settings */
/* Zoom Control Bar */
/*
.mwt-sv-zoomextendItemInactive, .mwt-sv-panleftItemInactive, .mwt-sv-panrightItemInactive , .mwt-sv-panupItemInactive , .mwt-sv-pandownItemInactive  {
	visibility: hidden;
}
*/

.pageDetails {
	cursor: default;
}

.mwt-sv-unselectAllItemInactive {
	width: 0px !important;
	height: 0px !important;
}

/* date picker */
.datePickerDayIsToday {
	color: black;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel,
.datePickerMonth {
	font-size: 14px !important;
}

/* GDG popup menu style */
.menuStyle > .popupContent table tbody{
	display: flex;
	flex-flow: row wrap;
	width: 20em;
}

.menuStyle > .popupContent table tbody > tr{
	flex: 1 1 50%;
}

.menuStyle > .popupContent table tbody > tr button{
	font-weight: bold;
}

.menuStyle > .popupContent table tbody > tr:nth-of-type(1) button{
	width: 20em;
}

.menuStyle > .popupContent table tbody > tr:nth-last-of-type(1) button{
	width: 10em
}

.menuStyle > .popupContent table tbody > tr .gwt-DateBox,
.menuStyle > .popupContent table tbody > tr .gwt-TextBox{
	width: 19em;
}
