.project-gwt-panel-dialogmsg {
	background-color: #BEBEBE;
}

.project-gwt-textarea-dialogmsg {
	background-color: #BEBEBE;
	font-size: 16px !important;
	cursor: default;
}

.project-gwt-panel-btnbar {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.project-gwt-button-ok {
	width: 100px;
	height: 30px;
}

.project-gwt-button-cancel {
	width: 100px;
	height: 30px;
}