<div>
    <div>
        <label>{{ '&tms_cards_lbl_modify' | translate }}</label>
    
        <button type="button" 
          class="btn btn-info" 
          [disabled]="btnNewDisable" 
          (click)="btnClicked('newdiv')"
          title="{{ '&tms_cards_btn_new_title' | translate }}"
          >{{ '&tms_cards_btn_new' | translate }}</button>
        
        <button type="button" 
          class="btn btn-info" 
          [disabled]="btnModifyDisable" 
          (click)="btnClicked('modify')"
          title="{{ '&tms_cards_btn_modify_title' | translate }}"
          >{{ '&tms_cards_btn_modify' | translate }}</button>
    
        <button type="button" 
          class="btn btn-info"
          [disabled]="btnDeleteDisable"
          (click)="btnClicked('delete')"
          title="{{ '&tms_cards_btn_delete_title' | translate }}"
          >{{ '&tms_cards_btn_delete' | translate }}</button>
    
        <button type="button" 
          class="btn btn-info" 
          [disabled]="btnCopyDisable" 
          (click)="btnClicked('copy')"
          title="{{ '&tms_cards_btn_copy_title' | translate }}"
          >{{ '&tms_cards_btn_copy' | translate }}</button>
    
      </div>
    
      <form>
        <div [hidden]="!divNewCardEnable">
    
          <div class="input-group">
            <span class="input-group-addon"
            >{{ '&tms_cards_lbl_new_name' | translate }}</span>
    
            <input type="text" 
              class="form-control"
              name="txtNewAddName" 
              [(ngModel)]="txtNewAddName"
              (ngModelChange)="onChange('txtNewAddName', $event)"
              placeholder="{{ '&tms_cards_txt_new_name' | translate }}">
          </div>
    
          <div [hidden]="!txtNewAddNameDuplicatedInvalid" 
            class="alert alert-danger" 
            id="txtNewAddNameDuplicatedInvalid"
            >{{ '&tms_cards_lbl_duplicated' | translate }}</div>
    
          <div [hidden]="!txtNewAddNameTooShortInvalid" 
            class="alert alert-danger" 
            id="txtNewAddNameTooShortInvalid"
            >{{ '&tms_cards_lbl_length_too_short' | translate }}</div>
    
          <div [hidden]="!txtNewAddNameTooLongInvalid" 
            class="alert alert-danger" 
            id="txtNewAddNameTooLongInvalid"
            >{{ '&tms_cards_lbl_length_too_long' | translate }}</div>
    
          <button type="button" 
            class="btn btn-info" 
            [disabled]="btnAddDisable" 
            (click)="btnClicked('newadd')"
            title="{{ '&tms_cards_btn_add_title' | translate }}"
            >{{ '&tms_cards_btn_add' | translate }}</button>
    
          <button type="button" 
            class="btn btn-info" 
            [disabled]="btnAddCancelDisable" 
            (click)="btnClicked('newaddcancel')"
            title="{{ '&tms_cards_btn_add_cancel_title' | translate }}"
            >{{ '&tms_cards_btn_add_cancel' | translate }}</button>
    
        </div>
      </form>
    
      <form>
        <div [hidden]="!divModifyCardEnable">
    
          <div class="input-group">
            <span class="input-group-addon"
            >{{ '&tms_cards_lbl_modify_name' | translate }}</span>
    
            <input type="text" 
              class="form-control"
              name="txtModifyName" 
              [(ngModel)]="txtModifyName"
              (ngModelChange)="onChange('txtModifyName', $event)"
              placeholder="{{ '&tms_cards_txt_modify_name' | translate }}">
            </div>
    
            <div [hidden]="!txtModifyNameDuplicatedInvalid" 
              class="alert alert-danger" 
              id="txtModifyNameDuplicatedInvalid"
              >{{ '&tms_cards_lbl_duplicated' | translate }}</div>
    
            <div [hidden]="!txtModifyNameTooShortInvalid" 
              class="alert alert-danger" 
              id="txtModifyNameTooShortInvalid"
              >{{ '&tms_cards_lbl_length_too_short' | translate }}</div>
    
            <div [hidden]="!txtModifyNameTooLongInvalid" 
              class="alert alert-danger" 
              id="txtModifyNameTooLongInvalid"
              >{{ '&tms_cards_lbl_length_too_long' | translate }}</div>
    
          <button type="button" 
            class="btn btn-info" 
            [disabled]="btnModifySaveDisable" 
            (click)="btnClicked('modifysave')"
            title="{{ '&tms_cards_btn_modify_save_title' | translate }}"
            >{{ '&tms_cards_btn_modify_save' | translate }}</button>
    
          <button type="button" 
            class="btn btn-info" 
            [disabled]="btnModifyCancelDisable" 
            (click)="btnClicked('modifysavecancel')"
            title="{{ '&tms_cards_btn_modify_cancel_title' | translate }}"
            >{{ '&tms_cards_btn_modify_cancel' | translate }}</button>
    
        </div>
      </form>
</div>
