<div>
  <!--<fieldset>-->
    <!--<legend>{{ '&steps_lbl_scenario_step_list' | translate }}</legend>-->
    <!--<div>-->
      <form>
        <div class="input-group input-group-steps-cardname">
          <span class="input-group-addon span-steps-cardname"
          >{{ '&steps_lbl_card_name' | translate }}</span>
          <input type="text" class="form-control" name="txtCardName" 
            [(ngModel)]="txtCardName" (ngModelChange)="onChange('txtCardName', $event)"
            placeholder="{{ '&steps_txt_select_card' | translate }}"
            readonly>
        </div>
      </form>
    <!--</div>-->
    <div>
      <!-- class="material" -->
      <ngx-datatable #stepsDataTable
        class="bootstrap"
        [rows]="rows_step"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="30"
        [rowHeight]="40"
        [reorderable]="reorderable"

        [messages]="messages"

        [scrollbarV]="true"
        [scrollbarH]="false"
        [rowClass]="getRowClass"
        
        [selected]="selected_step"
        [selectionType]="'single'"
        (select)="onRowSelect('step', $event)"
        (activate)="onActivate('card', $event)"
        >
        <ngx-datatable-column prop="num" name="Num" [sortable]='false' [canAutoResize]="false"
          headerClass="is-gender" [cellClass]="getCellClass" [width]="25">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_num' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="location" name="Location" [sortable]='false' [canAutoResize]="false"
          headerClass="is-gender" [cellClass]="getCellClass" [width]="80">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_location' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="system" name="System" [sortable]='false' [canAutoResize]="false"
          headerClass="is-gender" [cellClass]="getCellClass" [width]="80">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_system' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="equipment" name="Equipment" [sortable]='false' [canAutoResize]="false"
          headerClass="is-gender" [cellClass]="getCellClass" [width]="150">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_equipment' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="point" name="Point" [sortable]='false' [canAutoResize]="false"
          headerClass="is-gender" [cellClass]="getCellClass" [width]="150">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_point' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="value" name="Value" [sortable]='false' [canAutoResize]="false"
          headerClass="is-gender" [cellClass]="getCellClass" [width]="150">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_value' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="delay" name="Delay" [sortable]='false' [canAutoResize]="false"
          headerClass="is-gender" [cellClass]="getCellClass" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_delay' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="execute" name="Execute" [sortable]="false" [canAutoResize]="false"
          [draggable]="false" [resizeable]="false" [width]="80">
          <!--let-allRowsSelected="allRowsSelected" let-selectFn="selectFn" -->
          <ng-template let-value="value" ngx-datatable-header-template>
            <span (click)="onColumnClick('execute')">{{ '&steps_dg_header_execute' | translate }}</span>
            <!--<input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>-->
          </ng-template>
          <!-- let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn"-->
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <input type="checkbox" [checked]="value" (change)="onCheckboxChangeFn($event)" />
            <!--<md-checkbox (change)="changed()"></md-checkbox>-->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Status" [sortable]='false' [canAutoResize]="false"
          [draggable]="false" [resizeable]="false" [width]="80">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_status' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template 
            ngx-datatable-footer-template 
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset">
            <div class="page-count">
              <div><!--{{selectedCount}}{{ '&steps_dg_footer_selectedmessage' | translate }}{{ '&steps_dg_footer_spliter' | translate }}-->{{rowCount}}{{ '&steps_dg_footer_totalmessage' | translate }}
            </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    <!--</div>-->
  <!--</fieldset>-->
</div>