<div>
  <div>
    <form>          
      <label>{{ '&steps_lbl_modify_step' | translate }}</label>
      <button type="button" 
        class="btn btn-info tms-step-btn-newstep" 
        [disabled]="btnDisabledNewStep" (click)="btnClicked('newstep', $event)"
        title="{{ '&steps_btn_new_step_title' | translate }}"
        >{{ '&steps_btn_new_step' | translate }}</button>
      <button type="button" 
        class="btn btn-info tms-step-btn-deletestep" 
        [disabled]="btnDisabledDeleteStep" (click)="btnClicked('deletestep', $event)"
        title="{{ '&steps_btn_delete_step_title' | translate }}"
        >{{ '&steps_btn_delete_step' | translate }}</button>
    </form>
  </div>

  <div [hidden]="!editEnableNewStep">
    <form>
      <div>
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_env' | translate }}</span>
          <select class="form-control" name="selectEnv" id="selectEnv"
            [(ngModel)]="selEnv"  (change)="onLstChange('selEnv', $event)">
            <option *ngFor="let item of selOptEnv" [ngValue]="item.value"
            [disabled]="item.value==''">{{item.label}}</option>
          </select>
        </div>
  
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_geo' | translate }}</span>
          <select class="form-control" name="selectGeo" id="selectGeo"
            [(ngModel)]="selGeo" (change)="onLstChange('selGeo', $event)">
            <option *ngFor="let item of selOptGeo" [ngValue]="item.value"
              [disabled]="item.value==-1">{{item.label}}</option>
          </select>
        </div>
  
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_func' | translate }}</span>
          <select class="form-control" name="selectFunc" id="selectFunc" 
            [(ngModel)]="selFunc" (change)="onLstChange('selFunc', $event)">
            <option *ngFor="let item of selOptFunc" [ngValue]="item.value"
              [disabled]="item.value==-1">{{item.label}}</option>
          </select>
        </div>
  
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_eqplabel' | translate }}</span>
          <select class="form-control" name="selectEqpLabel" id="selectEqpLabel" 
            [(ngModel)]="selEqpLabel" (change)="onLstChange('selEqpLabel', $event)">
            <option *ngFor="let item of selOptEqpLabel" [ngValue]="item.value"
              [disabled]="item.value==''">{{item.label}}</option>
          </select>
        </div>
  
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_pointlabel' | translate }}</span>
          <select class="form-control" name="selectPointLabel" id="selectPointLabel" 
            [(ngModel)]="selPointLabel" (change)="onLstChange('selPointLabel', $event)">
            <option *ngFor="let item of selOptPointLabel" [ngValue]="item.value"
              [disabled]="item.value==''">{{item.label}}</option>
          </select>
        </div>
  
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_delay' | translate }}</span>
          <select [(ngModel)]="selDelay" 
            class="form-control" name="selectDelay" id="selectDelay"
            (change)="onLstChange('selDelay', $event)">
            <option *ngFor="let item of selOptDelay"   [ngValue]="item.value"
              [selected]="item.value==0">{{item.label}}</option>
          </select>
        </div>
  
        <span *ngIf="!hiddenClassId">
          <div class="input-group">
            <span class="input-group-addon">{{ '&step_lbl_classid' | translate }}</span>
            <input type="text" class="form-control" name="textClassId" 
            [(ngModel)]="txtClassId" placeholder="{{ '&step_txt_classid_placeholder' | translate }}">
          </div>
        </span>
  
        <span *ngIf="!hiddenUnivname">
          <div class="input-group">
            <span class="input-group-addon">{{ '&step_lbl_univname' | translate }}</span>
            <input type="text" class="form-control" name="textUnivname" 
            [(ngModel)]="txtUnivname" placeholder="{{ '&step_txt_univname_placeholder' | translate }}">
          </div>
        </span>
  
        <span *ngIf="!hiddenEVName">
        <div class="input-group">
            <span class="input-group-addon">{{ '&step_lbl_evname' | translate }}</span>
            <input type="text" class="form-control" name="textEVName" 
            [(ngModel)]="txtEVName" placeholder="{{ '&step_txt_evname_placeholder' | translate }}">
          </div>
        </span>
      </div>
  
  
      <div [hidden]="!editEnableAddAciStep">
        <span *ngIf="!hiddenAciInitValue">
          <div class="input-group">
            <span class="input-group-addon">{{ '&step_lbl_aciinitvalue' | translate }}</span>
            <input type="text" class="form-control" name="aciInitValue" 
            [(ngModel)]="aciInitValue" placeholder="{{ '&step_lst_aciinitvalue_placeholder' | translate }}">
          </div>
        </span>
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_acivalue' | translate }}</span>
          <input type="text"  class="form-control" name="aciValue" (ngModelChange)="onChange('aciValue', $event)"
          [(ngModel)]="aciValue" placeholder="{{ '&step_txt_acivalue_placeholder' | translate }}">
        </div>
        <button 
          type="button" class="btn btn-info tms-card-btn-add" 
          [disabled]="btnDisabledAddAciStep" (click)="btnClicked('addacistep')"
          title="{{ 'tms_step_btn_add_acistep_title' | translate }}"
          >{{ '&step_btn_add_acistep' | translate }}</button>
        <button 
          type="button" class="btn btn-info tms-card-btn-add-cancel" 
          [disabled]="btnDisabledAddAciCancelStep" (click)="btnClicked('addacicancelstep')"
          title="{{ '&step_btn_add_acicancelstep_title' | translate }}"
          >{{ '&step_btn_add_acicancelstep' | translate }}</button>
      </div>
  
      <div [hidden]="!editEnableAddDciStep">
        <span *ngIf="!hiddenDciInitValue">
          <div class="input-group">
            <span class="input-group-addon">{{ '&step_lbl_dciinitvalue' | translate }}</span>
            <input type="text" class="form-control"name="dciInitValue" 
            [(ngModel)]="dciInitValue" placeholder="{{ '&step_lst_dciinitvalue_placeholder' | translate }}">
          </div>
        </span>
        <div class="input-group">
          <span class="input-group-addon">{{ '&step_lbl_dcivalue' | translate }}</span>
          <select class="form-control" name="selectDciValue" id="selectDciValue"
            [(ngModel)]="selDciValue" (change)="onLstChange('selDciValue', $event)">
            <option *ngFor="let item of selOptDciValue" 
              [selected]="item.value==-1" [ngValue]="item.value"
              >{{item.label}}</option>
          </select>
        </div>
        <button 
          type="button" class="btn btn-info tms-card-btn-add" 
          [disabled]="btnDisabledAddDciStep" (click)="btnClicked('adddcistep')"
          title="{{ '&step_btn_add_dcistep_title' | translate }}"
          >{{ '&step_btn_add_dcistep' | translate }}</button>
        <button 
          type="button" class="btn btn-info tms-card-btn-add-cancel" 
          [disabled]="btnDisabledAddDciCancelStep" (click)="btnClicked('adddcicancelstep')"
          title="{{ '&step_btn_add_dcicancelstep_title' | translate }}"
          >{{ '&step_btn_add_dcicancelstep' | translate }}</button>
      </div>
    </form>
  </div>
</div>