.project-alarm-banner-counter {
	font-weight: bold;
}

.project-alarm-summary-counter  {
	font-weight: bold;
}

.project-event-summary-counter {
	font-weight: bold;
}

.project-gwt-button {
	font-weight: bold;
}

.project-gwt-navigation-menu-button {
	width: 142px;
	height: 30px;
	font-weight: bold;
}

.project-gwt-login-panel-button {
	width: 128px;
	height: 30px;
	font-weight: bold;
}