<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
      <app-cards (notifyParent)="getNotification($event)" [cardUpdate]="cardUpdateValue" ></app-cards>
      <app-card-edit (notifyParent)="getNotification($event)" [cardEditUpdate]="cardEditUpdateValue"></app-card-edit>
      <app-cards-controller (notifyParent)="getNotification($event)"></app-cards-controller>
  </div>
  <div>
    <hr>
  </div>
  <div>
      <app-steps (notifyParent)="getNotification($event)"></app-steps>
      <app-step-controller (notifyParent)="getNotification($event)"></app-step-controller>
      <app-step-edit (notifyParent)="getNotification($event)" [stepEditUpdate]="stepEditUpdateValue"></app-step-edit>
  </div>
  <div>
    <app-storage (notifyParent)="getNotification($event)"></app-storage>
    <app-csv-interpret (notifyParent)="getNotification($event)"></app-csv-interpret>
  </div>
</div>
