<div>
  <fieldset class="">
    <legend class="">{{ '&steps_lbl_scenario_step_list' | translate }}</legend>
    <div>
      <form>
        <div class="input-group">
          <span class="input-group-addon"
          >{{ '&steps_lbl_card_name' | translate }}</span>
          <input type="text" class="form-control" name="txtCardName" 
            [(ngModel)]="txtCardName" (ngModelChange)="onChange('txtCardName', $event)"
            placeholder="{{ '&steps_txt_select_card' | translate }}"
            readonly>
        </div>
      </form>
    </div>
    <div>
      <!-- class="material" -->
      <ngx-datatable #stepsDataTable
        class="bootstrap"
        [rows]="rows_step"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns_step"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"

        [messages]="messages"

        [rowClass]="getRowClass"
        
        [selected]="selected_step"
        [selectionType]="'single'"
        (select)="onRowSelect('step', $event)"
        (activate)="onActivate('card', $event)"
        >
        <ngx-datatable-column prop="step" name="Step" [sortable]='true'
          [width]="5">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_step' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="location" name="Location" [sortable]='true'
          [width]="25">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_location' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="system" name="System" [sortable]='true'
          [width]="25">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_system' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="equipment" name="Equipment" [sortable]='true'
          [width]="100">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_equipment' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="point" name="Point" [sortable]='true'
          [width]="50">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_point' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="value" name="Value" [sortable]='true'
          [width]="25">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_value' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="delay" name="Delay" [sortable]='true'
          [width]="5">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_delay' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Status" [sortable]='true'
          [width]="25">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">{{ '&steps_dg_header_status' | translate }}</span>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{ value | translate }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template 
            ngx-datatable-footer-template 
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset">
            <div class="page-count">
              <div>{{selectedCount}}{{ '&steps_dg_footer_selectedmessage' | translate }}{{ '&steps_dg_footer_spliter' | translate }}{{rowCount}}{{ '&steps_dg_footer_totalmessage' | translate }}
            </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </fieldset>
</div>