<!--<div id="schedule-table" style="width: 1400px; margin-bottom: 20px">-->
<div class="panel panel-default" id="schedule-table">
    <div class="panel panel-heading" id="schedule-table-header">
        <h4>{{'Schedule Table' | translate}}</h4>
    </div>
    <div id="schedule-table-body">
        <div class="row" id="schedule-cutoff-time">
            <label class="col-md-2 label label-default" id="label-schedule-cutoff-time">{{'Schedule cutoff time:' | translate}}</label>
            <input class="col-md-1 input" id="cutoff-time-input" readonly [ngModel]="cutoffTime" type="text">
        </div>
        <div class="row" id="running-schedules">
            <label class="col-md-4 label label-warning" id="running-schedules-label">{{'Running Schedules' | translate}}</label>
            <input class="col-md-6 input" id="running-schedules-input" readonly [ngModel]="runningSchedulesStr" type="text">
        </div>
        <div class="panel panel-body" id="schedule-title-selection">
            <div id="schedule-title" *ngIf="displayPeriodicSchedules; then periodicTitleBlock; else nonPeriodicTitleBlock"></div>
            <ng-template #periodicTitleBlock>
            <div id="periodicTitleBlock">
                <h4>{{'Periodic Schedules' | translate}}</h4>
                <ng-select [allowClear]="false"
                        [items]="schedules"
                        [disabled]="selectScheduleDisabled"
                        [active]="activeItem"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        (typed)="typed($event)"
                        placeholder="No schedule selected">
                </ng-select>
            </div>
            </ng-template>
            <ng-template #nonPeriodicTitleBlock>
                <div id="nonPeriodicTitleBlock">
                    <h4>{{'Oneshot Schedule' | translate}}</h4>
                </div>
            </ng-template>

            <span *ngIf="displayPeriodicSchedules">
                <button class="btn btn-primary" id="btn-add-schedule" type="button" [disabled]="!addScheduleEnabled" (click)="addSchedule()">{{'Add' | translate}}</button>
                <button class="btn btn-primary" id="btn-delete-schedule" type="button" [disabled]="!deleteScheduleEnabled" (click)="deleteSchedule()">{{'Delete' | translate}}</button>
                <button class="btn btn-primary" id="btn-rename-schedule" type="button" [disabled]="!renameScheduleEnabled" (click)="renameSchedule()">{{'Rename' | translate}}</button>
            </span>
            <div *ngIf="addScheduleClicked" id="add-schedule-select-apply-cancel">
                <label>{{ 'Add Schedule' | translate }}</label>
                <select [(ngModel)]="newSchedule" name="Select new schedule" class="select" id="select-new-schedule">
                    <option *ngFor="let s of unusedSchedules" [ngValue]="s">{{s.text | translate}}</option>
                </select>
                <button class="btn btn-primary" id="btn-apply-add-schedule" (click)="applyAddSchedule()">{{'Apply' | translate}}</button>
                <button class="btn btn-primary" id="btn-cancel-add-schedule" (click)="cancelAddSchedule()">{{'Cancel' | translate}}</button>
            </div>
            <div *ngIf="renameScheduleClicked" id="rename-schedule-input-apply-cancel">
                <label>{{ 'Rename Schedule' | translate }}</label>
                <input [(ngModel)]="newScheduleTitle" (ngModelChange)="updateNewScheduleTitle($event)" type="text" class="input" maxlength="{{maxTitleLength}}" id="input-rename-schedule">
                <button class="btn btn-primary" id="btn-apply-rename-schedule" [disabled]="!newScheduleTitleValid" (click)="applyRenameSchedule()">{{'Apply' | translate}}</button>
                <button class="btn btn-primary" id="btn-cancel-rename-schedule" (click)="cancelRenameSchedule()">{{'Cancel' | translate}}</button>
                <div [hidden]="newScheduleTitleValid" class="alert alert-danger" id="newScheduleTitleInvalid">
                    {{ 'Schedule title duplicates existing titles or is empty' | translate }}
                </div>
            </div>

        </div>

        <div class="panel panel-body">
            <ngx-datatable
                class="material striped"
                [rows]="scheduleItems"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="5"
                [selected]="selectedRow"
                [selectionType]="'single'"
                [messages]="messages"
                [sorts]="sortingColumn"
                (activate)="onActivate($event)"
                (select)='onSelect($event)'>
                <ngx-datatable-column prop="geoCat" name="Location" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ 'Location' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ 'Location_' + value | translate }}</strong>
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="funcCat" name="System" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ 'System' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ 'System_' + value | translate }}</strong>
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="eqtLabel" name="Equipment Label" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ 'Equipment Label' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value | translate }}</strong>
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="eqtDescription" name="Equipment Description" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ 'Equipment Description' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value | translate }}</strong>
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="onTimeDisplay" name="On Time" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ 'On Time' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value }}</strong>
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="offTimeDisplay" name="Off Time" [sortable]='true'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ 'Off Time' | translate }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value }}</strong>
                </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>

        <div class="panel panel-body" id="oneshot-action" *ngIf="!displayPeriodicSchedules">
            <button class="btn btn-primary" id="btn-oneshot-start" (click)="startOneShot()">{{'Start' | translate}}</button>
            <button class="btn btn-primary" id="btn-oneshot-stop" (click)="stopOneShot()">{{'Stop' | translate}}</button>
        </div>

        <div class="panel panel-body" id='selected-column'>
            <div class="row">
                <div class="col-md-6 label-md">
                    <h4>{{'Equipment' | translate}}</h4>
                </div>
            </div>
            <div id="selected-row" *ngIf="selectedScheduleItem">
                <input readonly type="text" class="input" id="schedule-item-detail" [ngModel]="selectedItemDisplay">
                <div id="on-off-time-group">
                    <div class="row form-group" id="on-time-group">
                        <label class="col-md-1 label label-default" id="label-on-time">{{'On Time' | translate}}</label>
                        <input name="newOnTime" #newOnTime="ngModel" [(ngModel)]="selectedOnTime" (ngModelChange)="updateOnTimeValue($event)" class="col-md-1 input" type="text" [disabled]="onTimeNotAvailable || !pendingOnTimeIsEnabled">
                        <input name="newEnableOTime" [ngModel]="pendingOnTimeIsEnabled" (ngModelChange)="updateOnTimeIsEnabled($event)" type="checkbox" [disabled]="onTimeNotAvailable">
                        <label class="label-md" id="label-on-time-enable">{{'Enable' | translate}}</label>
                        <div [hidden]="newOnTimeValid" class="alert alert-danger" id="newOnTimeInvalid">
                            {{ 'Format HH:MM is required' | translate }}
                        </div>
                    </div>

                    <div class="row form-group" id="off-time-group">
                        <label class="col-md-1 label label-default" id="label-off-time">{{'Off Time' | translate}}</label>
                        <input name="newOffTime" #newOffTime="ngModel" [(ngModel)]="selectedOffTime" (ngModelChange)="updateOffTimeValue($event)" class="col-md-1 input" type="text" [disabled]="offTimeNotAvailable || !pendingOffTimeIsEnabled">
                        <input name="newEnableOffTime" [ngModel]="pendingOffTimeIsEnabled" (ngModelChange)="updateOffTimeIsEnabled($event)" type="checkbox" [disabled]="offTimeNotAvailable">
                        <label class="label-md" id="label-off-time-enable">{{'Enable' | translate}}</label>
                        <div [hidden]="newOffTimeValid" class="alert alert-danger" id="newOffTimeInvalid">
                            {{ 'Format HH:MM is required' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="inputIsModified">
                <div id="reset-changes" class="col-md-1">
                    <button class="btn btn-primary" (click)="resetModified()">{{'Reset'|translate}}</button>
                </div>
                <div id="save-changes" class="col-md-1" *ngIf="inputTimeValid">
                    <button class="btn btn-primary" (click)="saveModified()">{{'Save'|translate}}</button>
                </div>
            </div>
            <div id="empty-selected-row" *ngIf="!selectedRow.length">{{'No Selections' | translate}}</div>

        </div>
    </div>
</div>