/* UIViewAlarm */
.project-gwt-panel-alarmsummary-upperbar {
	width:100%;
	height:100%;
}
.project-gwt-panel-alarmsummary-bottombar {
	width:100%;
	height:0px;
}
.project-gwt-panel-alarmsummary-toolbar {
	width:100%;
	height:100%;
	background-color: drakgrey;
}

.project-gwt-inlinelabel-alarmsummary-counter-label  {
	font-size: 16px !important;
}

.project-gwt-inlinelabel-alarmsummary-counter-value  {
	font-weight: bold;
	font-size: 16px !important;
	text-align: center;
}

.project-gwt-button-alarmsummary-ack {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-button-alarmsummary-ackpage {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-button-alarmsummary-print {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-button-alarmsummary-filterreset {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.gwt-Button.project-gwt-button-alarmsummary-filterapplied {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	color: white !important;
	background-color: red !important;
	background-image: none !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	cursor: default;
}
