.project-gwt-button-inputtable-manualoverride-container-0-0 {
	vertical-align: middle !important;
}

.project-gwt-button-inputtable-manualoverride-container-0-1 {
	width: 150px;
	vertical-align: middle !important;
}

.project-gwt-listbox-inputtable-manualoverride-0-1 {
    font-size: 16px;
    width: 130px;
    height: 45px !important;
    color: black !important;
    background-color: white !important;
    border: thin solid black !important;
}

.project-gwt-button-inputtable-manualoverride-container-0-2 {
	width: 150px;
	vertical-align: middle !important;
}

.project-gwt-textbox-inputtable-manualoverride-0-2 {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}


.project-gwt-button-inputtable-manualoverride-container-0-3 {
	vertical-align: middle !important;
}

.project-gwt-button-inputtable-manualoverride-container-0-4 {
	vertical-align: middle !important;
}