@import url('project-panel-uigwslogin.css');
@import url('project-panel-dialogmsg.css');

/* inspector panel */
@import url('project-panel-inspector.css');
@import url('project-panel-inspector-info.css');
@import url('project-panel-inspector-tag.css');
@import url('project-panel-inspector-control.css');
@import url('project-panel-inspector-advance.css');

@import url('project-panel-normal.css');
@import url('project-panel-uigws.css');
@import url('project-panel-uigwscache.css');
@import url('project-panel-uigwslogin.css');
@import url('project-panel-uipanelaccessbar.css');
@import url('project-panel-uipanelalarmbanner.css');
@import url('project-panel-uipanellogin.css');
@import url('project-panel-uipanelmenu.css');
@import url('project-panel-uipanelstatusbar.css');
@import url('project-panel-uipanelview.css');
@import url('project-panel-uipanelviewlayout.css');
@import url('project-panel-uipanelviewpanel.css');
@import url('project-panel-uiscreenlogin.css');
@import url('project-panel-uiscreenmmi.css');
@import url('project-panel-uiscreenopm.css');
@import url('project-panel-uiviewalarm.css');
@import url('project-panel-uiviewevent.css');
@import url('project-panel-wrapperscslarmlistpanel.css');
@import url("project-panel-ptw-summary.css");
@import url("project-panel-ptw-viewer.css");
@import url("project-panel-ptw-control.css");
@import url("project-panel-ptw-filter.css");
@import url("project-panel-ptw-action.css");
@import url("project-panel-almgn-swap.css");
@import url("project-panel-input-control.css");
@import url("project-panel-inputtable-filter.css");
@import url("project-panel-navigation-button.css");
@import url("project-panel-help-url.css");
@import url("project-panel-alarm-summary.css");
@import url("project-panel-event-summary.css");
@import url("project-panel-wrapperinfocmdtab.css");
@import url("project-symbol.css");

@import url("project-import-UILayoutEntryPointDpcTagSummary.css");
@import url("project-import-UILayoutEntryPointLoginSummary.css");
@import url("project-import-UILayoutEntryPointSocSummary.view.css");

.project-gwt-panel-root {
	width: 100%;
	height: 100%;
	background-image:url('../img/background/ERL_system_map.png');
}

.project-gwt-panel-root-container-0 {
	vertical-align: middle !important;
}

.project-gwt-panel-root-container-1 {
	vertical-align: middle !important;
}

.project-gwt-panel-root-container-2 {
	vertical-align: middle !important;
}

.project-gwt-button {
	color: black;
	font-weight: bold;
	font-size: 16px !important;
}
