.project-UILayoutLoginSummary-container {
	vertical-align: middle !important;
	width: 100%;
	height: 100%;
}

.project-UILayoutLoginSummary-container-UILayoutLogin {
	vertical-align: middle !important;
	width: 100%;
	height: 100%;
}


.project-UILayoutLoginSummary-inner {
	background-color: #BEBEBE;
    border: 2px solid dimgrey;
    margin: auto;
    vertical-align: middle;
}


