.project-gwt-panel-wrapperinfocmdtab {
	width: 600px;
	height: 600px;
	display: block;
}

.project-gwt-panel-wrapperinfocmdtab-top {
	width: 600px;
	height: 550px;
}

.project-gwt-panel-wrapperinfocmdtab-bottom {
	width: 600px;
	height: 40px;
}