.project-gwt-panel-summaryview-htmlurl-inner {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-summaryview-htmlurl {
	width: 100%;
	height: 100%;
}

.project-gwt-html-htmlurl-container-0-0 {
	width: 100%;
	height: 100%;
}

.project-gwt-html-htmlurl-html-0-0 {
	width: 100%;
	height: 100%;
}