<div id="app-component-nav">
    <nav class="navbar" id="nav-schedule-table-planning">
        <a [routerLink]="['/schedule-table']" [queryParams]="{periodic: false}" routerLinkActive="active" id="oneshot-schedule-link">{{'Oneshot Schedule' | translate}}</a>
        <a [routerLink]="['/schedule-table']" [queryParams]="{periodic: true}" routerLinkActive="active" id="periodic-schedule-link">{{'Periodic Schedules' | translate}}</a>
        <a routerLink="/schedule-planning" routerLinkActive="active" id="schedule-planning-link">{{'Schedule Planning' | translate}}</a>
    </nav>
</div>
