<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <form>
      <div class="container">
          <fieldset class="">
              <legend class="">{{ '&ScenarioList' | translate:param }}</legend>
              <div>
                <div>
                  <ngx-datatable
                    class="material"
                    [rows]="rows_scenariolist"
                    [loadingIndicator]="loadingIndicator"
                    [columns]="columns_scenariolist"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [reorderable]="reorderable">
                  </ngx-datatable>
                </div>
                <div>
                    <label>{{ '&Modify' | translate:param }}</label>
                    <button type="button" class="btn btn-info">{{ '&New' | translate:param }}</button>
                    <button type="button" class="btn btn-info">{{ '&Modify' | translate:param }}</button>
                    <button type="button" class="btn btn-info">{{ '&Delete' | translate:param }}</button>
                    <button type="button" class="btn btn-info">{{ '&Copy' | translate:param }}</button>
                </div>
                <div>
                  <hr>
                </div>
                <div>
                    <div>
                        <label>{{ '&Execute' | translate:param }}</label>
                        <button type="button" class="btn btn-info">{{ '&Start' | translate:param }}</button>
                        <button type="button" class="btn btn-info">{{ '&Pause' | translate:param }}</button>
                        <button type="button" class="btn btn-info">{{ '&Resume' | translate:param }}</button>
                        <button type="button" class="btn btn-info">{{ '&Stop' | translate:param }}</button>
                        <button type="button" class="btn btn-info">{{ '&Reset' | translate:param }}</button>
                    </div>
                </div>
            </div>
          </fieldset>
      </div>
  </form>

  <form>
    <fieldset class="">
      <legend class="">{{ '&ScenarioStepList' | translate:param }}</legend>
      <div>
        <ngx-datatable
          class="material"
          [rows]="rows_steplist"
          [loadingIndicator]="loadingIndicator"
          [columns]="columns_steplist"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [reorderable]="reorderable">
        </ngx-datatable>
      </div>
      <div>
        <label>{{ '&Modifystep' | translate:param }}</label>
        <button type="button" class="btn btn-info">{{ '&AddStep' | translate:param }}</button>
        <button type="button" class="btn btn-info">{{ '&DeleteStep' | translate:param }}</button>
        <button type="button" class="btn btn-info">{{ '&SaveScenario' | translate:param }}</button>
        <button type="button" class="btn btn-info">{{ '&ReloadScenario' | translate:param }}</button>
      </div>
    </fieldset>
  </form>

  <form>
      <fieldset class="">
        <legend class="">{{ '&ExecuteSelectionStep' | translate:param }}</legend>
        <div>
          <label>{{ '&ExecuteSelectionStep' | translate:param }}</label>
          <button type="button" class="btn btn-info">{{ '&Start' | translate:param }}</button>
          <button type="button" class="btn btn-info">{{ '&Stop' | translate:param }}</button>
        </div>
    </fieldset>
  </form>

  <form>
    <fieldset class="">
      <legend class="">{{ '&ImportExportScenario' | translate:param }}</legend>
      <div>
        <button type="button" class="btn btn-info">{{ '&ExportCSV' | translate:param }}</button>
        <button type="button" class="btn btn-info">{{ '&ImportCSV' | translate:param }}</button>
      </div>
    </fieldset>
  </form>
</div>
