<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <form>
      <div class="container">
          <fieldset class="">
              <legend class="">{{ '&ScenarioList' | translate }}</legend>
              <div>
                <div>
                  <!-- class="material" -->
                  <ngx-datatable
                    class="bootstrap"
                    [rows]="rows_card"
                    [loadingIndicator]="loadingIndicator"
                    [columns]="columns_card"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [reorderable]="reorderable"
                    
                    [selected]="selected_card"
                    [selectionType]="'single'"
                    (activate)="onRowActivate('card', $event)"
                    (select)="onRowSelect('card', $event)">
                    
                    >
                  </ngx-datatable>
                </div>
                <div>
                    <label>{{ '&Modify' | translate }}</label>
                    <button type="button" class="btn btn-info tms-card-btn-new" 
                    [disabled]="btnDisabledNew" 
                    (click)="editEnable=true;btnClicked('new')"
                    >{{ '&New' | translate }}</button>
                    <!--<button type="button" class="btn btn-info tms-card-btn-modify" [disabled]="btnDisabledModify" (click)="btnClicked('modify')">{{ '&Modify' | translate }}</button>-->
                    <button type="button" class="btn btn-info tms-card-btn-delete" 
                    [disabled]="btnDisabledDelete" 
                    (click)="btnClicked('delete')"
                    >{{ '&Delete' | translate }}</button>
                    <!--button type="button" class="btn btn-info tms-card-btn-copy" [disabled]="btnDisabledCopy" (click)="btnClicked('copy')">{{ '&Copy' | translate }}</button>-->
                </div>

                <div [hidden]="!editEnable">
                  <input id="newName" type="text" class="form-control" name="msg" placeholder="{{ '&NewName' | translate }}">
                  <button type="button" class="btn btn-info tms-card-btn-new" 
                  [disabled]="btnNewSave" 
                  (click)="btnClicked('newsave')"
                  >{{ '&Save' | translate }}</button>
                  <button type="button" class="btn btn-info tms-card-btn-new" 
                  [disabled]="btnNewSaveCancel" 
                  (click)="editEnable=false;btnClicked('newsavecancel')"
                  >{{ '&Cancel' | translate }}</button>
                </div>
                <div>
                  <hr>
                </div>
                <div>
                  <label>{{ '&Execute' | translate }}</label>
                  <button type="button" class="btn btn-info tms-card-btn-start" [disabled]="btnDisabledStart" (click)="btnClicked('start')">{{ '&Start' | translate }}</button>
                  <!--<button type="button" class="btn btn-info tms-card-btn-pause" [disabled]="btnDisabledPause" (click)="btnClicked('pause')">{{ '&Pause' | translate }}</button>-->
                  <!--<button type="button" class="btn btn-info tms-card-btn-resume" [disabled]="btnDisabledResume" (click)="btnClicked('resume')">{{ '&Resume' | translate }}</button>-->
                  <button type="button" class="btn btn-info tms-card-btn-stop" [disabled]="btnDisabledStop" (click)="btnClicked('stop')">{{ '&Stop' | translate }}</button>
                  <!--<button type="button" class="btn btn-info tms-card-btn-reset" [disabled]="btnDisabledReset" (click)="btnClicked('reset')">{{ '&Reset' | translate }}</button>-->
                </div>
            </div>
          </fieldset>
      </div>
  </form>

  <form>
    <fieldset class="">
      <legend class="">{{ '&ScenarioStepList' | translate }}</legend>
      <div>
        <!-- class="material" -->
        <ngx-datatable
          class="bootstrap"
          [rows]="rows_step"
          [loadingIndicator]="loadingIndicator"
          [columns]="columns_step"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [reorderable]="reorderable"
          
          [selected]="selected_step"
          [selectionType]="'single'"
          (activate)="onRowActivate('step', $event)"
          (select)="onRowSelect('step', $event)">
        </ngx-datatable>
      </div>
      <div>
        <label>{{ '&Modifystep' | translate }}</label>
        <button type="button" class="btn btn-info tms-step-btn-addedstep" [disabled]="btnDisabledAddedStep" (click)="btnClicked('addedstep')">{{ '&AddStep' | translate }}</button>
        <button type="button" class="btn btn-info tms-step-btn-deletestep" [disabled]="btnDisabledDeleteStep" (click)="btnClicked('deletestep')">{{ '&DeleteStep' | translate }}</button>
        <button type="button" class="btn btn-info tms-step-btn-savescenario" [disabled]="btnDisabledSaveScenario" (click)="btnClicked('savescenario')">{{ '&SaveScenario' | translate }}</button>
        <button type="button" class="btn btn-info tms-step-btn-reloadscenario" [disabled]="btnDisabledReloadScenario" (click)="btnClicked('reloadscenario')">{{ '&ReloadScenario' | translate }}</button>
      </div>
    </fieldset>
  </form>

  <form>
      <fieldset class="">
        <legend class="">{{ '&ExecuteSelectionStep' | translate }}</legend>
        <div>
          <label>{{ '&ExecuteSelectionStep' | translate }}</label>
          <button type="button" class="btn btn-info tms-step-btn-startstep" [disabled]="btnDisabledStartStep" (click)="btnClicked('startstep')">{{ '&StartStep' | translate }}</button>
          <button type="button" class="btn btn-info tms-step-btn-stopstep" [disabled]="btnDisabledStopStep" (click)="btnClicked('stopstep')">{{ '&StopStep' | translate }}</button>
        </div>
    </fieldset>
  </form>

  <form>
    <fieldset class="">
      <legend class="">{{ '&ImportExportScenario' | translate }}</legend>
      <div>
        <button type="button" class="btn btn-info tms-step-btn-exportcsv" [disabled]="btnDisabledExportCSV" (click)="btnClicked('exportcsv')">{{ '&ExportCSV' | translate }}</button>
        <button type="button" class="btn btn-info tms-step-btn-importcv"  onclick="loadfile.click()" [disabled]="btnDisabledImportCSV" (click)="btnClicked('importcsv')">{{ '&ImportCSV' | translate }}</button>
        <input type="file" id="upload" style="display:none" id="loadfile" accept='.csv' (change)="btnClicked('loadfile', $event)">
      </div>
    </fieldset>
  </form>
</div>
