.project-UIPanelScreen-root {
	width: 100%;
	height: 100%;
}

.project-UIPanelScreen-root-container-0
, .project-UIPanelScreen-root-container-1
, .project-UIPanelScreen-root-container-2
, .project-UIPanelScreen-root-container-3
, .project-UIPanelScreen-root-container-4
, .project-UIPanelScreen-root-container-5
, .project-UIPanelScreen-root-container-6 {
	vertical-align: middle !important;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row
}