<div>
  <form>
    <fieldset class="">
      <legend class="">{{ '&csvinterpret_lbl_importexport_csv' | translate }}</legend>
      <div>
        <button type="button" class="btn btn-info tms-step-btn-exportcsv" 
        [disabled]="btnDisabledExportCSV" (click)="btnClicked('exportcsv')"
        title="{{ '&csvinterpret_btn_exportcsv_title' | translate }}"
        >{{ '&csvinterpret_btn_exportcsv' | translate }}</button>
        <button type="button" class="btn btn-info tms-step-btn-importcv"  
        onclick="loadfile.click()" 
        [disabled]="btnDisabledImportCSV" (click)="btnClicked('importcsv')"
        title="{{ '&csvinterpret_btn_importcsv_title' | translate }}"
        >{{ '&csvinterpret_btn_importcsv' | translate }}</button>
        <div class='alert alert-info' [hidden]="disableImportMsg">
          <a class="close" data-dismiss="alert" href="#">X</a>
          <strong>{{ '&csvinterpret_import_message' | translate }}{{importNumber}}</strong>
        </div>
        <div class='alert alert-info' [hidden]="disableExportMsg">
          <a class="close" data-dismiss="alert" href="#">X</a>
          <strong>{{ '&csvinterpret_export_message' | translate }}{{exportNumber}}</strong>
        </div>
        <input type="file" id="upload" 
        style="display:none" id="loadfile" accept='.csv' 
        (change)="btnClicked('loadfile', $event)">
      </div>
    </fieldset>
  </form>
</div>